<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
    <div th:include="/fragment/head"></div>
    <div th:include="/fragment/header"></div>
    <div th:include="/fragment/nav"></div>

    <div class="content">
        <div class="image_banner">
            <div class="image_banner_bg">
                <img th:src="@{/image/admin_banner.jpg}" alt="">
                <h1>관 &nbsp; 리 &nbsp; 자 &nbsp; 페 &nbsp; 이 &nbsp; 지</h1>
            </div>
            <div class="page_nav">
                <span><a th:href="@{/}"><i class="fa-solid fa-house"></i></a></span>
                <span><a th:href="@{/admin/admin}">ADMIN &nbsp; <i class="fa-solid fa-caret-down"></i></a></span>
                <span><a th:href="@{/admin/adminTicket}">티켓정보 &nbsp; <i class="fa-solid fa-caret-down"></i></a></span>
            </div>
        </div>

        <div class="admin_wrap">
            <div th:include="/fragment/adminNav"></div>

            <section class="admin_content">
                <div class="pointBox">
                    <div class="point_admintext">티켓 정보</div>
                    <span class="point_hr"></span>
                </div>
                <div class="ticketInfoWrap">
                    <table>
                        <tr>
                            <th>티켓코드</th>
                            <th>티켓이름</th>
                            <th>티켓가격</th>
                            <th>티켓생성일</th>
                            <th>티켓수정일</th>
                            <th>티켓수정</th>
                            <th>티켓삭제</th>
                        </tr>
                        <tr th:each="ticketDetail : ${ticketDetail}">
                            <td><input type="text" th:value="${ticketDetail.tType}" readonly></td>
                            <td><input type="text" class="tName" th:value="${ticketDetail.tName}" readonly></td>
                            <td><input type="text" class="tPrice" th:value="${ticketDetail.tPrice}" readonly></td>
                            <td><input type="text" th:value="${#dates.format(ticketDetail.tDate, 'yyyy-MM-dd')}" readonly></td>
                            <td><input type="text" th:value="${#dates.format(ticketDetail.tUpdate, 'yyyy-MM-dd')}" readonly></td>
                            <td>
                                <input type="button" class="redBtn" value="수정" onclick="editTicketInfo(this)">
                                <input type="button" class="redBtn" value="수정완료" th:tType="${ticketDetail.tType}" style="display: none;" onclick="TicketInfoEdit(this.getAttribute('tType'))">
                            </td>
                            <td><input type="button" class="blueBtn" value="삭제" th:tType="${ticketDetail.tType}" th:onclick="ticketInfoDelete(this.getAttribute('tType'))"></td>
                        </tr>
                    </table>
                    <div class="ticketInfoBtn">
                        <input type="button" value="티켓추가 +" th:onclick="|location.href='@{/admin/adminTicketInfoCreate}'|">
                    </div>
                </div>
            </section>
        </div>
    </div>
    
    <div th:include="/fragment/footer"></div>


    <!-- script -->
    <!-- 티켓종류 삭제처리 -->
    <script>
        function ticketInfoDelete(tType){
            let DeleteYN = confirm("삭제하시겠습니까?")
            if(DeleteYN){
                console.log(tType);
                fetch(urlparam + '/admin/ticketInfoDelete', {
                    method: 'post',
                    headers: {"Content-Type": "application/json"},
                    body: JSON.stringify({
                        tType: tType
                    })
                })
                .then(response => response.json())
                .then(data => {
                    if (data) {
                        console.log(data);
                        alert("티켓이 삭제되었습니다.");
                        location.href= window.location.href;
                    }else{
                        alert("티켓삭제에 실패하였습니다. 다시 시도해주세요.");
                    }
                })
                .catch((error) => console.log(error));
            }else{
                alert("취소되었습니다.");
            }
        }
    </script>

    <!-- 티켓 수정 버튼구현 및 fetch 전송 -->
    <script>
        function editTicketInfo(button) {
            const row = button.parentNode.parentNode;
            const tNameInput = row.querySelector(".tName");
            const tPriceInput = row.querySelector(".tPrice");
            tNameInput.value = "";
            tPriceInput.value = "";
            tNameInput.readOnly = false;
            tPriceInput.readOnly = false;
            button.style.display = "none";
            const completeButton = button.nextElementSibling;
            completeButton.style.display = "inline-block";
            tNameInput.focus(); // tNameInput에 focus 설정
            // 또는 tPriceInput.focus(); // tPriceInput에 focus 설정
        }

        function TicketInfoEdit(tType) {
            const tNameInput = document.querySelector(".tName:not([readonly])");
            const tPriceInput = document.querySelector(".tPrice:not([readonly])");
            
            // const tName = tNameInput.value;
            // const tPrice = tPriceInput.value;
            const tName = tNameInput.value.trim();
            const tPrice = tPriceInput.value.trim();
            
            // tName 유효성 검사
            if (tName.length > 13) {
                alert("티켓 이름은 최대 13글자까지 입력할 수 있습니다.");
                tNameInput.focus();
                return;
            }
            // tPrice 유효성 검사
            if (!/^\d+$/.test(tPrice)) {
                alert("티켓 가격은 숫자만 입력할 수 있습니다.");
                tPriceInput.focus();
                return;
            }
            
            fetch(urlparam + '/admin/ticketInfoEdit', {
                method: 'post',
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    tType: tType,
                    tName: tName,
                    tPrice: tPrice,
                })
            })
                .then(response => response.json())
                .then(data => {
                    if (data) {
                        console.log(data);
                        alert("티켓이 수정되었습니다.");
                        location.href = window.location.href;
                    } else {
                        alert("티켓수정에 실패하였습니다. 다시 시도해주세요.");
                    }
                })
                .catch((error) => console.log(error));
        }
    </script>
</body>
</html>