<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
    <div th:include="/fragment/head"></div>
    <div th:include="/fragment/header"></div>
    <div th:include="/fragment/nav"></div>

    <div class="content">
        <div class="image_banner">
            <div class="image_banner_bg">
                <img th:src="@{/image/admin_banner.jpg}" alt="">
                <h1>관 &nbsp; 리 &nbsp; 자 &nbsp; 페 &nbsp; 이 &nbsp; 지</h1>
            </div>
            <div class="page_nav">
                <span><a th:href="@{/}"><i class="fa-solid fa-house"></i></a></span>
                <span><a th:href="@{/admin/admin}">ADMIN &nbsp; <i class="fa-solid fa-caret-down"></i></a></span>
                <span><a th:href="@{/admin/admin}">관리자메인 &nbsp; <i class="fa-solid fa-caret-down"></i></a></span>
            </div>
        </div>

        <div class="admin_wrap">
            <div th:include="/fragment/adminNav"></div>
            
            <section class="admin_content">
                <div class="pointBox">
                    <div class="point_admintext">관리자 메인</div>
                    <span class="point_hr"></span>
                </div>

                <article>
                    <table class="admin_info_table">
                        <tr>
                            <th>I &nbsp; D</th>
                            <td><div th:text="${#authentication.principal.member.uId}"></div></td>
                        </tr>
                        <tr>
                            <th>이 &nbsp; 름</th>
                            <td><div th:text="${#authentication.principal.member.uName}"></div></td>
                        </tr>
                        <tr>
                            <th>부 &nbsp; 서</th>
                            <td><div>-</div></td>
                        </tr>
                        <tr>
                            <th>직 &nbsp; 책</th>
                            <td><div>-</div></td>
                        </tr>
                        <tr>
                            <th>권 &nbsp; 한</th>
                            <td>
                                <div th:if="${#authentication.principal.member.uAuthList[0].uAuth == 'ROLE_USER'}">회원</div>
                                <div th:if="${#authentication.principal.member.uAuthList[0].uAuth == 'ROLE_ADMIN'}">관리자</div>
                            </td>
                        </tr>
                        <tr>
                            <th>상 &nbsp; 태</th>
                            <td>
                                <div th:if="${#authentication.principal.member.member == 'Y'}">재직</div>
                                <div th:if="${#authentication.principal.member.member == 'N'}">퇴사</div>
                            </td>
                        </tr>
                    </table>
                    <!-- <h1 th:text="${#authentication.principal.member}"></h1> -->
                </article>
            </section>
        </div>
    </div>
    
    <div th:include="/fragment/footer"></div>
</body>
</html>