<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
    <div th:include="/fragment/head"></div>
    <div th:include="/fragment/header"></div>
    <div th:include="/fragment/nav"></div>

    <div class="content">
        <div class="image_banner">
            <div class="image_banner_bg">
                <img th:src="@{/image/admin_banner.jpg}" alt="">
                <h1>관 &nbsp; 리 &nbsp; 자 &nbsp; 페 &nbsp; 이 &nbsp; 지</h1>
            </div>
            <div class="page_nav">
                <span><a th:href="@{/}"><i class="fa-solid fa-house"></i></a></span>
                <span><a th:href="@{/admin/admin}">ADMIN &nbsp; <i class="fa-solid fa-caret-down"></i></a></span>
                <span><a th:href="@{/admin/adminCalculate}">관리자정산 &nbsp; <i class="fa-solid fa-caret-down"></i></a></span>
            </div>
        </div>

        <div class="admin_wrap">
            <div th:include="/fragment/adminNav"></div>
            
            <section class="admin_content">
                <div class="pointBox">
                    <div class="point_admintext">관리자 정산</div>
                    <span class="point_hr"></span>
                </div>

                <div class="adminContentWrap">
                    <div class="adminTop">
                        <article>
                            <div class="dateSearchBox">
                                <div>&#91;&nbsp; <i class="fa-solid fa-calendar-check"></i> 날짜 선택 &nbsp;&#93;</div>
                                <div>
                                    <button id="date_searchBtn">일별 검색</button>
                                    <button id="month_searchBtn">월별 검색</button>
                                    <button id="since_searchBtn">구간 검색</button>
                                </div>
                                <div id="date_searchBox" style="display: block;">
                                    <form th:action="@{/admin/adminCalculate(search=${search})}" method="get">
                                        <div>
                                            <h4>날짜선택 :</h4><input type="date" name="sellDate" th:value="${search.sellDate}">
                                        </div>
                                        <div class="submitBtnBox">
                                            <button type="submit"><p><i class="fa-solid fa-magnifying-glass"></i> 검색</p></button>
                                            <a th:href="@{/admin/adminCalculate?search=}"><i class="fa-solid fa-magnifying-glass-plus"></i> 전체검색</a>
                                        </div>
                                    </form>
                                </div>
                                <div id="month_searchBox" style="display: none;">
                                    <form th:action="@{/admin/adminCalculateMonth(search=${search})}" method="get">
                                        <div>
                                            <h4>날짜선택 :</h4><input type="month" name="sellDate" th:value="${search.sellDate}">
                                        </div>
                                        <div class="submitBtnBox">
                                            <button type="submit"><p><i class="fa-solid fa-magnifying-glass"></i> 검색</p></button>
                                            <a th:href="@{/admin/adminCalculateMonth?search=}"><i class="fa-solid fa-magnifying-glass-plus"></i> 전체검색</a>
                                        </div>
                                    </form>
                                </div>
                                <div id="since_searchBox" style="display: none;">
                                    <form th:action="@{/admin/adminCalculateSince(search=${search})}" method="get">
                                        <div>
                                            <h4>시작일 :</h4><input type="date" name="startDate" th:value="${search.startDate}">
                                        </div>
                                        <div>
                                            <h4>마지막일 :</h4><input type="date" name="endDate" th:value="${search.endDate}">
                                        </div>
                                        <div class="submitBtnBox">
                                            <button type="submit"><p><i class="fa-solid fa-magnifying-glass"></i> 검색</p></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </article>
        
                        <article>
                            <div class="searchResult">
                                <div>
                                    <!-- <div>해당하는 티켓합계를 보여줄 예정</div> -->
                                    <table class="imsi_table">
                                        <tr>
                                            <thead>
                                                <th colspan="3">구매 데이터</th>
                                            </thead>
                                        </tr>
                                        <tr>
                                            <th>구매일</th>
                                            <th>구매건수</th>
                                            <th>판매금액</th>
                                        </tr>
                                        <tr th:each="ticketdaybuysum : ${ticketdaybuysum}" th:if="${not #lists.isEmpty(ticketdaybuysum)}">
                                            <td th:text="${ticketdaybuysum.sellDate}"></td>
                                            <td th:text="${ticketdaybuysum.tCount}"></td>
                                            <td th:text="${ticketdaybuysum.tPrice}"></td>
                                        </tr>
                                        <tr th:unless="${not #lists.isEmpty(ticketdaybuysum)}">
                                            <td>-</td>
                                            <td>0</td>
                                            <td>0</td>
                                        </tr>
                                    </table>

                                    <!-- <div>해당하는 환불건수를 보여줄 예정</div> -->
                                    <table class="imsi_table">
                                        <tr>
                                            <thead>
                                                <th colspan="3">환불 데이터</th>
                                            </thead>
                                        </tr>
                                        <tr>
                                            <th>환불일</th>
                                            <th>환불건수</th>
                                            <th>환불금액</th>
                                        </tr>
                                        <tr th:each="ticketdayrefundsum : ${ticketdayrefundsum}" th:if="${not #lists.isEmpty(ticketdayrefundsum)}">
                                            <td th:text="${ticketdayrefundsum.sellDate}"></td>
                                            <td th:text="${ticketdayrefundsum.tCount}"></td>
                                            <td th:text="${ticketdayrefundsum.tPrice}"></td>
                                        </tr>
                                        <tr th:unless="${not #lists.isEmpty(ticketdayrefundsum)}">
                                            <td>-</td>
                                            <td>0</td>
                                            <td>0</td>
                                        </tr>
                                    </table>
                                </div>
                                
                                <div>
                                    <!-- <div>판매금액에서 환불금액을 뺀 수익총계</div> -->
                                    <table class="imsi_table">
                                        <tr>
                                            <thead>
                                                <th colspan="3">수익 데이터</th>
                                            </thead>
                                        </tr>
                                        <tr>
                                            <th>수익일</th>
                                            <th>수익건수</th>
                                            <th>수익총계</th>
                                        </tr>
                                        <tr th:each="ticketdaytotal : ${ticketdaytotal}" th:if="${not #lists.isEmpty(ticketdaytotal)}">
                                            <td th:text="${ticketdaytotal.sellDate}"></td>
                                            <td th:text="${ticketdaytotal.tCount}"></td>
                                            <td th:text="${ticketdaytotal.tPrice}"></td>
                                        </tr>
                                        <tr th:unless="${not #lists.isEmpty(ticketdaytotal)}">
                                            <td>-</td>
                                            <td>0</td>
                                            <td>0</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </article>
                    </div>
                    
                    <div class="adminBottom">
                        <article>
                            <div class="dateDisplay">
                                <table class="imsi_table">
                                    <tr>
                                        <thead>
                                            <th colspan="7">검색 정보 리스트</th>
                                        </thead>
                                    </tr>
                                    <tr>
                                        <th>No</th>
                                        <th>검색일자</th>
                                        <th>티켓코드</th>
                                        <th>유저코드</th>
                                        <th>유저이름</th>
                                        <th>티켓가격</th>
                                        <th>티켓상태</th>
                                    </tr>
                                    <tr th:each="ticketdatelist, index : ${ticketdatelist}" th:if="${not #lists.isEmpty(ticketdatelist)}">
                                        <td><div th:text="${index.count}"></div></td>
                                        <td><div th:text="${ticketdatelist.sellDate}"></div></td>
                                        <td><div th:text="${ticketdatelist.tNum}"></div></td>
                                        <td><div th:text="${ticketdatelist.uNum}"></div></td>
                                        <td><div th:text="${ticketdatelist.uName}"></div></td>
                                        <td><div th:text="${ticketdatelist.tPrice}"></div></td>
                                        <td>
                                            <div th:if="${ticketdatelist.used == 'N'}">예매완료</div>
                                            <div th:if="${ticketdatelist.used == 'Y'}">사용완료</div>
                                            <div th:if="${ticketdatelist.used == 'R'}">환불요청</div>
                                            <div th:if="${ticketdatelist.used == 'C'}">환불완료</div>
                                        </td>
                                    </tr>
                                    <tr th:unless="${not #lists.isEmpty(ticketdatelist)}">
                                        <td colspan="7">해당하는 정보가 없습니다.</td>
                                    </tr>
                                </table>
                            </div>
                        </article>
                    </div>
                </div>
            </section>
        </div>
    </div>
    
    <div th:include="/fragment/footer"></div>
    

    <!-- button을 통해 날짜검색 div 변경 -->
    <script>
        document.getElementById('date_searchBtn').addEventListener('click', function() {
            document.getElementById('date_searchBox').style.display = 'block';
            document.getElementById('month_searchBox').style.display = 'none';
            document.getElementById('since_searchBox').style.display = 'none';
        });

        document.getElementById('month_searchBtn').addEventListener('click', function() {
            document.getElementById('date_searchBox').style.display = 'none';
            document.getElementById('month_searchBox').style.display = 'block';
            document.getElementById('since_searchBox').style.display = 'none';
        });

        document.getElementById('since_searchBtn').addEventListener('click', function() {
            document.getElementById('date_searchBox').style.display = 'none';
            document.getElementById('month_searchBox').style.display = 'none';
            document.getElementById('since_searchBox').style.display = 'block';
        });
    </script>
</body>
</html>