<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
    <div th:include="/fragment/head"></div>
    <div th:include="/fragment/header"></div>
    <div th:include="/fragment/nav"></div>

    <div class="content">
        <div class="image_banner">
            <div class="notice_banner">
                <h1>관 &nbsp; 리 &nbsp; 자 &nbsp; 페 &nbsp; 이 &nbsp; 지</h1>
            </div>
        </div>
        <div class="inner">
            <h2>관리자 페이지</h2>
            <hr>
            <h2>티켓 종류 테이블</h2>
            <table class="ticket_board">
                <tr>
                    <td>티켓번호</td>
                    <td>티켓이름</td>
                    <td>티켓가격</td>
                    <td>티켓여부</td>
                </tr>
                <tr th:each="ticketDetail : ${ticketDetail}">
                    <td><span th:text="${ticketDetail.tType}"></span></td>
                    <td><span th:text="${ticketDetail.tName}"></span></td>
                    <td><span th:text="${ticketDetail.tPrice}"></span></td>
                    <td><span th:text="${ticketDetail.tDelete}"></span></td>
                </tr>
            </table>

            <h2>티켓구매내역(전체)</h2>
            <hr>

            <div>
                <form id="searchForm" onsubmit="return false;" autocomplete="off">
                    <div>
                        <select name="searchType" id="searchType" title="검색유형 선택">
                            <option value="">전체 검색</option>
                            <option value="uName">구매자</option>
                            <option value="tState">티켓상태</option>
                        </select>
                        <input type="text" id="keyword" name="keyword" placeholder="키워드를 입력해 주세요." title="키워드 입력">
                        <input type="button" value="검색" onclick="movePage(1);">
                    </div>
                </form>
            </div>

            <table class="ticket_board">
                <tr>
                    <th>티켓번호</th>
                    <th>유저번호</th>
                    <th>티켓종류</th>
                    <th>이름</th>
                    <th>구매처</th>
                    <th>사용장소</th>
                    <th>구매일자</th>
                    <th>사용일자</th>
                    <th>티켓상태</th>
                </tr>
                <tr th:each="ticketList : ${ticketList}" th:if="${not #lists.isEmpty(ticketList)}">
                    <td><div th:text="${ticketList.tNum}"></div></td>
                    <td><div th:text="${ticketList.uNum}"></div></td>
                    <td><div th:text="${ticketList.tType}"></div></td>
                    <td><div th:text="${ticketList.uName}"></div></td>
                    <td><div th:text="${ticketList.market}"></div></td>
                    <td><div th:text="${ticketList.tArea}"></div></td>
                    <td><div th:text="${ticketList.sellDate}"></div></td>
                    <td><div th:text="${ticketList.useDate}"></div></td>
                    <td><div th:text="${ticketList.used}"></div></td>
                </tr>
                <tr th:unless="${not #lists.isEmpty(ticketList)}">
                    <td colspan="9">구매된 티켓이 없습니다.</td>
                </tr>
            </table>

            <div class="paginationBox">
                <ul class="pagination">
                    <th:block th:if="${pageMaker.prev}">
                        <li>
                            <a th:href="@{/admin/adminTicket?pageNum={next} (next = ${pageMaker.startPage - 1})}">이전</a>
                        </li>
                    </th:block>
                    <th:block th:each="num : ${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}">
                        <li th:class="${num == pageMaker.cri.pageNum} ? 'active'">
                            <a th:href="@{/admin/adminTicket?pageNum={page} (page = ${num})}" th:text="${num}"></a>
                        </li>
                    </th:block>
                    <th:block th:if="${pageMaker.next}">
                        <li>
                            <a th:href="@{/admin/adminTicket?pageNum={next} (next = ${pageMaker.endPage + 1})}">다음</a>
                        </li>
                    </th:block>
                </ul>
                <p th:text="${pageMaker}"></p>
            </div>
        </div>
    </div>
    
    <div th:include="/fragment/footer"></div>


    <!-- script -->
    <script>
        // 페이지 이동
        function movePage(pageNum){
            const form = document.getElementById('searchForm');

            const queryParams = {
                pageNum: (pageNum) ? pageNum : 1,
                amount: 10,
                searchType: form.searchType.value,
                keyword: form.keyword.value
            }

            location.href = location.pathname + '?' + new URLSearchParams(queryParams).toString();
        }
    </script>
</body>
</html>