<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
    <div th:include="/fragment/head"></div>
    <div th:include="/fragment/header"></div>
    <div th:include="/fragment/nav"></div>

    <div class="content">
        <div class="image_banner">
            <div class="notice_banner">
                <h1>관 &nbsp; 리 &nbsp; 자 &nbsp; 페 &nbsp; 이 &nbsp; 지</h1>
            </div>
        </div>
        <div class="inner">
            <h2>관리자 페이지</h2>
            <hr>
            <h2>티켓 종류 테이블</h2>
            <table class="ticket_board">
                <tr>
                    <td>티켓번호</td>
                    <td>티켓이름</td>
                    <td>티켓가격</td>
                    <td>티켓여부</td>
                </tr>
                <tr th:each="ticketDetail : ${ticketDetail}">
                    <td><span th:text="${ticketDetail.tType}"></span></td>
                    <td><span th:text="${ticketDetail.tName}"></span></td>
                    <td><span th:text="${ticketDetail.tPrice}"></span></td>
                    <td><span th:text="${ticketDetail.tDelete}"></span></td>
                </tr>
            </table>

            <h2>티켓구매내역(전체)</h2>
            <hr>
            <table>
                <tr>
                    <th>티켓번호</th>
                    <th>유저번호</th>
                    <th>티켓종류</th>
                    <th>이름</th>
                    <th>구매처</th>
                    <th>사용장소</th>
                    <th>구매일자</th>
                    <th>사용일자</th>
                    <th>사용유무</th>
                </tr>
                <tr th:each="ticketList : ${ticketList}">
                    <td><div th:text="${ticketList.tNum}"></div></td>
                    <td><div th:text="${ticketList.uNum}"></div></td>
                    <td><div th:text="${ticketList.tType}"></div></td>
                    <td><div th:text="${ticketList.uName}"></div></td>
                    <td><div th:text="${ticketList.market}"></div></td>
                    <td><div th:text="${ticketList.tArea}"></div></td>
                    <td><div th:text="${ticketList.sellDate}"></div></td>
                    <td><div th:text="${ticketList.useDate}"></div></td>
                    <td><div th:text="${ticketList.used}"></div></td>
                </tr>
                <tr th:each="ticketList : ${ticketList}" th:if="${#strings.isEmpty(ticketList)}">
                    <td colspan="9">구매한 티켓이 없습니다.</td>
                </tr>
            </table>

            <div class="paginationBox">
                <ul class="pagination">
                    <li th:if="${pageMaker.prev}">
                        <a th:href="@{pageMaker.startPage - 1}">이전</a>
                    </li>
                    <!-- 페이지번호 오류가 있음(생성되지 않아야 할 번호까지 생성이 됨.) -->
                    <li th:each="num : ${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}" th:class="${num == pageMaker.cri.pageNum} ? 'active'">
                        <a th:href="@{/admin/adminTicket?pageNum={page} (page = ${num})}" th:text="${num}"></a>
                    </li>
                    <li th:if="${pageMaker.next}">
                        <a th:href="@{pageMaker.endPage + 1}">다음</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <div th:include="/fragment/footer"></div>


    <!-- script -->
</body>
</html>