<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
    <div th:include="/fragment/head"></div>
    <div th:include="/fragment/header"></div>
    <div th:include="/fragment/nav"></div>

    <div class="content">
        <section class="image_banner">
            <div class="notice_banner">
                <h1>관 &nbsp; 리 &nbsp; 자 &nbsp; 페 &nbsp; 이 &nbsp; 지</h1>
            </div>
        </section>
        <div class="admin_content">
            <section class="admin_left">
                <article class="admin_href">
                    <div><a th:href="@{../admin/admin}">관리자 페이지 이동</a></div>
                    <div><a th:href="@{../admin/adminUser}">유저리스트 페이지 이동</a></div>
                    <div><a th:href="@{../admin/adminTicket}">티켓리스트 페이지 이동</a></div>
                </article>
            </section>
            <section class="inner admin_right">
                <h2>관리자 페이지</h2>
                <hr>
                <h2>유저 테이블</h2>
                <table class="ticket_board">
                    <tr>
                        <td>No</td>
                        <td>회원코드</td>
                        <td>아이디</td>
                        <td>이름</td>
                        <td>전화번호</td>
                        <td>생년월일</td>
                        <td>우편번호</td>
                        <td>주소</td>
                        <td>상세주소</td>
                        <td>생성일</td>
                        <td>수정일</td>
                        <td>방문일</td>
                        <td>회원등급</td>
                        <td>회원등업</td>
                        <td>회원여부</td>
                        <td>계정정지</td>
                    </tr>
                    <tr th:each="user : ${user}">
                        <td><div th:text="${(page.page - 1) * page.recordSize + userStat.index + 1}"></div></td>
                        <td><span th:text="${user.uNum}"></span></td>
                        <td><span th:text="${user.uId}"></span></td>
                        <td><span th:text="${user.uName}"></span></td>
                        <td><span th:text="${user.uPhoneNum}"></span></td>
                        <td><span th:text="${user.uBirth}"></span></td>
                        <td><span th:text="${user.uPostCode}"></span></td>
                        <td><span th:text="${user.uAddr}"></span></td>
                        <td><span th:text="${user.uDetailAddr}"></span></td>
                        <td><span th:text="${#dates.format(user.regdate, 'yyyy-MM-dd')}"></span></td>
                        <td>
                            <span th:text="${#dates.format(user.updatedate, 'yyyy-MM-dd')}"></span>
                            <span th:if="${#lists.isEmpty(user.updatedate)}">-</span>
                        </td>
                        <td>
                            <span th:text="${#dates.format(user.visitdate, 'yyyy-MM-dd')}"></span>
                            <span th:if="${#lists.isEmpty(user.visitdate)}">-</span>
                        </td>
                        <td>
                            <!-- <span th:text="${user.uAuthList}"></span> -->
                            <span th:if="${user.uAuthList[0].uAuth == 'ROLE_USER'}">고객</span>
                            <span th:if="${user.uAuthList[0].uAuth == 'ROLE_ADMIN'}">관리자</span>
                        </td>
                        <td>
                            <span th:if="${user.uAuthList[0].uAuth == 'ROLE_USER'}"><input type="button" value="등급업" th:uNum="${user.uNum}" th:onclick="upUserGrade(this.getAttribute('uNum'), 'ROLE_USER')"></span>
                            <span th:if="${user.uAuthList[0].uAuth == 'ROLE_ADMIN'}"><input type="button" value="등급다운" th:uNum="${user.uNum}" th:onclick="downUserGrade(this.getAttribute('uNum'), 'ROLE_ADMIN')"></span>
                        </td>
                        <td>
                            <span th:if="${user.member == 'Y'}">활동</span>
                            <span th:if="${user.member == 'N'}">탈퇴</span>
                            <span th:if="${user.member == 'B'}">블락</span>
                        </td>
                        <td>
                            <span th:if="${user.member == 'Y'}"><input type="button" value="계정정지" th:uNum="${user.uNum}" th:member="${user.member}" th:onclick="userBlock(this.getAttribute('uNum'), this.getAttribute('member'))"></span>
                            <span th:if="${user.member == 'B'}"><input type="button" value="정지해제" th:uNum="${user.uNum}" th:member="${user.member}" th:onclick="userNotBlock(this.getAttribute('uNum'), this.getAttribute('member'))"></span>
                        </td>
                    </tr>
                </table>
    
                <div class="paginationBox">
                    <th:block th:if="${page.startPage != 0}">
                        <ul class="pagination">
                            <th:block th:if="${page.existPrevPage}">
                                <li>
                                    <a th:href="@{/admin/adminUser?page={prev} (prev = ${page.startPage - 1})}">이전</a>
                                </li>
                            </th:block>
                            <th:block th:each="num : ${#numbers.sequence(page.startPage, page.endPage)}">
                                <li th:class="${num == page.page} ? 'active'">
                                    <a th:href="@{/admin/adminUser?page={page} (page = ${num})}" th:text="${num}"></a>
                                </li>
                            </th:block>
                            <th:block th:if="${page.existNextPage}">
                                <li>
                                    <a th:href="@{/admin/adminUser?page={next} (next = ${page.endPage + 1})}">다음</a>
                                </li>
                            </th:block>
                        </ul>
                        <!-- <input type="hidden" th:value="${page}"> -->
                        <p th:text="${page}"></p>
                    </th:block>
                </div>
            </section>
        </div>
    </div>
    
    <div th:include="/fragment/footer"></div>



    <!-- script -->
    <script>
        function upUserGrade(uNum, uAuth){
            // alert(uNum);
            // alert(uAuth);
            fetch(urlparam + '/admin/upGrade', {
                method: 'post',
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify({
                    uNum: uNum
                })
            })
                .then(response => response.json())
                .then(data => {
                    if (data) {
                        console.log(data);
                        alert("관리자 권한으로 설정되었습니다.");
                        location.href= urlparam + "/admin/adminUser";
                    }else{
                        alert("관리자 권한 설정에 실패하였습니다. 다시 시도해주세요.");
                    }
                })
                .catch((error) => console.log(error));
        }
    </script>

    <script>
        function downUserGrade(uNum, uAuth){
            // alert(uNum);
            // alert(uAuth);
            fetch(urlparam + '/admin/downGrade', {
                method: 'post',
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify({
                    uNum: uNum
                })
            })
                .then(response => response.json())
                .then(data => {
                    if (data) {
                        console.log(data);
                        alert("일반회원 권한으로 설정되었습니다.");
                        location.href= urlparam + "/admin/adminUser";
                    }else{
                        alert("일반회원 권한 설정에 실패하였습니다. 다시 시도해주세요.");
                    }
                })
                .catch((error) => console.log(error));
        }
    </script>

    <script>
        function userBlock(uNum, member){
            // alert(uNum);
            // alert(member);
            fetch(urlparam + '/admin/userBlock', {
                method: 'post',
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify({
                    uNum: uNum
                })
            })
                .then(response => response.json())
                .then(data => {
                    if (data) {
                        console.log(data);
                        alert("해당 회원을 정지하였습니다.");
                        location.href= urlparam + "/admin/adminUser";
                    }else{
                        alert("해당 회원 정지에 실패하였습니다. 다시 시도해주세요.");
                    }
                })
                .catch((error) => console.log(error));
        }
    </script>

<script>
    function userNotBlock(uNum, member){
        // alert(uNum);
        // alert(member);
        fetch(urlparam + '/admin/userNotBlock', {
            method: 'post',
            headers: {"Content-Type": "application/json"},
            body: JSON.stringify({
                uNum: uNum
            })
        })
            .then(response => response.json())
            .then(data => {
                if (data) {
                    console.log(data);
                    alert("해당 회원을 정지해제하였습니다.");
                    location.href= urlparam + "/admin/adminUser";
                }else{
                    alert("해당 회원 정지해제에 실패하였습니다. 다시 시도해주세요.");
                }
            })
            .catch((error) => console.log(error));
    }
</script>
</body>
</html>