<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
    <div th:include="/fragment/head"></div>
    <div th:include="/fragment/header"></div>
    <div th:include="/fragment/nav"></div>

    <div class="content">
        <div class="image_banner">
            <div class="notice_banner">
                <h1>공 &nbsp; 지 &nbsp; 사 &nbsp; 항</h1>
            </div>
        </div>
        <div class="inner">
            <h2>공지사항</h2>
            <hr>
            <!-- <div class="searchBox">
                <form action="@{/community/notice}" id="searchForm" method="get" th:onsubmit="return false;" autocomplete="off">
                    <div>
                        <input type="hidden" name="page" value="1">
                        <input type="hidden" name="recordSize" th:value="${page.recordSize}">
                        <input type="hidden" name="pageSize" th:value="${page.pageSize}">
                        <select name="searchType" id="searchType">
                            <option value="">전체 검색</option>
                            <option value="title">제목</option>
                            <option value="content">내용</option>
                            <option value="writer">작성자</option>
                        </select>
                        <input type="text" id="keyword" name="keyword" placeholder="키워드를 입력해 주세요.">
                        <input type="button" value="검색" onclick="searchBoard()">
                        <button type="submit">검색</button>
                    </div>
                </form>
            </div> -->

            <!-- <div>
                <form th:action="@{/community/notice}" id="searchForm" method="get" th:onsubmit="return searchBoard(this)">
                    <input type="hidden" name="page" value="1">
                    <input type="hidden" name="recordSize" th:value="${page.recordSize}">
                    <input type="hidden" name="pageSize" th:value="${page.pageSize}">
                    <div>
                        <select name="searchType" class="">
                            <option value="" th:selected="${#strings.isEmpty(page.searchType)}">전체</option>
                            <option value="title" th:selected="${#strings.equals(page.searchType, 'title')}">제목</option>
                            <option value="content" th:selected="${#strings.equals(page.searchType, 'content')}">내용</option>
                            <option value="writer" th:selected="${#strings.equals(page.searchType, 'writer')}">작성자</option>
                        </select>
                        <input type="text" id="searchKeyword" name="searchKeyword" th:value="${page.searchKeyword}" placeholder="검색어를 입력하세요.">
                        <button type="submit" value="검색버튼"></button>
                        <input type="button" value="검색" onclick="searchBoard(null)">
                    </div>
                </form>
            </div> -->
            <table class="board_table">
                <tr>
                    <th>No</th>
                    <th>카테고리</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>등록일</th>
                </tr>
                <tr th:each="notice : ${notice}" th:if="${not #lists.isEmpty(notice)}">
                    <!-- <td><a th:href="@{/community/noticeDetail(nNum = ${notice.nNum})}"><div th:text="${notice.nNum}"></div></a></td> -->
                    <td><a th:href="@{/community/noticeDetail(nNum = ${notice.nNum})}"><div th:text="${(page.page - 1) * page.recordSize + noticeStat.index + 1}"></div></a></td>
                    <td><a th:href="@{/community/noticeDetail(nNum = ${notice.nNum})}"><div th:text="${notice.nCategory}"></div></a></td>
                    <td><a th:href="@{/community/noticeDetail(nNum = ${notice.nNum})}"><div th:text="${notice.nTitle}"></div></a></td>
                    <td><a th:href="@{/community/noticeDetail(nNum = ${notice.nNum})}"><div th:text="${notice.nWriter}"></div></a></td>
                    <td><a th:href="@{/community/noticeDetail(nNum = ${notice.nNum})}"><div th:text="${notice.nDate}"></div></a></td>
                </tr>
                <tr th:unless="${not #lists.isEmpty(notice)}">
                    <td colspan="6">조회된 결과가 없습니다.</td>
                </tr>
            </table>

            <div class="paginationBox">
                <ul class="pagination">
                    <th:block th:if="${page.existPrevPage}">
                        <li>
                            <a th:href="@{/community/notice?page={prev} (prev = ${page.startPage - 1})}">이전</a>
                        </li>
                    </th:block>
                    <th:block th:each="num : ${#numbers.sequence(page.startPage, page.endPage)}">
                        <li th:class="${num == page.page} ? 'active'">
                            <a th:href="@{/community/notice?page={page} (page = ${num})}" th:text="${num}"></a>
                        </li>
                    </th:block>
                    <th:block th:if="${page.existNextPage}">
                        <li>
                            <a th:href="@{/community/notice?page={next} (next = ${page.endPage + 1})}">다음</a>
                        </li>
                    </th:block>
                </ul>
                <!-- <p th:text="${page}"></p> -->
            </div>

            <div class="board_table_btn" sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/community/noticeWrite}">글쓰기</a></div>
        </div>
    </div>
    
    <div th:include="/fragment/footer"></div>
</body>
</html>