<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footerFragment">
    <div class="inner">
        <div>
            <div>
                <h4>고객센터 &nbsp; 0000-0000</h4>
                <h4>문의전화 &nbsp; 02-1234-4321</h4>
            </div>
            <div>
                <h4><a href="#"><i class="fa-brands fa-facebook"></i></a></h4>
                <h4><a href="#"><i class="fa-brands fa-square-instagram"></i></a></h4>
                <h4><a href="#"><i class="fa-brands fa-twitter"></i></a></h4>
            </div>
        </div>

        <div>
            <hr>
            <hr>
        </div>

        <div>
            <div>
                <h1>KIDS</h1>
                <h1>PLACE</h1>
            </div>
            <div>
                <div>
                    <a href="#">홈페이지이용약관</a>
                    <a href="#">개인정보처리방침</a>
                    <a href="#">중요정보고지사항</a>
                    <a href="#">이메일주소무단수집거부</a>
                    <a href="#">상품약관</a>
                    <a href="#">검사보고서</a>
                </div>
                <div>
                    <br>
                    <p>벡스코 부산광역시 해운대구 APEC로 55 / 킨텍스 경기도 고양시 일산서구 킨텍스로 217-60 / 김대중컨벤션 광주광역시 서구 상무누리로 30</p>
                    <p>대표이사 : GBSB &nbsp;&nbsp; 사업자등록번호 : 000-00-0000</p>
                    <p>ADDRESS: 부산광역시 해운대구 해운로 000 GBSB타워 0층 0000호 BUSINESS LICENSE: 000-00-00000 [사업자정보확인] MAIL ORDER LICENSE: 제2022-부산진구-0000호</p>
                </div>
            </div>
        </div>

        <div>
            <h5>OPEN TIME : am 10:30 - pm 06:00</h5>
            <h5>FAX : 02-1234-4321 / E-MAIL : kidsplace1234@gmail.com</h5>
            <h6>Copyright &copy; GBSB_KIDSPLACE</h6>
        </div>
    </div>
</footer>
</html>