<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block>
    <!-- 로그인 검사 script -->
    <script th:inline="javascript">
        /*<![CDATA[*/
        function checkAuthentication() {
            var isAuthenticated = /*[[${#httpServletRequest.remoteUser}]]*/ null;
            if (!isAuthenticated) {
                alert("로그인이 필요한 서비스입니다. 로그인 후 이용해주세요.");
                return false; // 접근 거부
            }
            return true; // 접근 허용
        }
        /*]]>*/
    </script>

    <nav th:fragment="navFragment" class="nav">
        <div class="inner">
            <ul class="main_nav">
                <li>
                    <a th:href="@{/info}">365일 즐거운 키즈월드</a>
                    <div class="sub_nav">
                        <ul>
                            <li><a th:href="@{/info}">KidsPlace 소개</a></li>
                            <li><a th:href="@{/info}">기본연혁</a></li>
                            <li><a th:href="@{/info}">요금안내표</a></li>
                            <li><a th:href="@{/info}">운영시간 및 장소</a></li>
                            <li><a th:href="@{/info}">이용규칙</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a th:href="@{/location}">여기저기 키즈월드</a>
                    <div class="sub_nav">
                        <ul>
                            <li><a th:href="@{/location}">경기 킨텍스</a></li>
                            <li><a th:href="@{/location}">부산 벡스코</a></li>
                            <li><a th:href="@{/location}">대구 벡스코</a></li>
                            <li><a th:href="@{/location}">광주 김대중컨벤션</a></li>
                        </ul>
                    </div>
                </li>
                <!-- <li>
                    <a th:href="@{#}">리얼후기</a>
                    <div class="sub_nav">
                        <ul>
                            <li><a th:href="@{#}">리뷰 전시회</a></li>
                        </ul>
                    </div>
                </li> -->
                <li>
                    <a th:href="@{../community/notice}">공지사항</a>
                    <div class="sub_nav">
                        <ul>
                            <li><a th:href="@{/community/notice}">공지드립니다</a></li>
                            <li><a th:href="@{/community/faq}">자주 묻는 질문</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a th:href="@{#}">이벤트</a>
                    <div class="sub_nav">
                        <ul>
                            <li><a th:href="@{#}">진행중인 이벤트</a></li>
                            <li><a th:href="@{#}">예정된 이벤트</a></li>
                            <li><a th:href="@{#}">종료된 이벤트</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a th:href="@{#}">키즈월드커뮤니티</a>
                    <div class="sub_nav">
                        <ul>
                            <li><a th:href="@{#}">1:1상담</a></li>
                            <li><a th:href="@{#}">가맹문의</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a th:href="@{../ticket/ticketBuy}" onclick="return checkAuthentication()">티켓예매</a>
                </li>
            </ul>
        </div>
        <div class="sub_nav_bg"></div>
    </nav>
</th:block>
</html>