<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:include="./fragment/head"></div>
    <div th:include="./fragment/header"></div>
    <div th:include="./fragment/nav"></div>

    <div class="content">
        <div class="image_banner">
            <div class="image_banner_bg">
                <img th:src="@{/image/mypage_banner.jpg}" alt="">
                <h1>비 &nbsp; 밀 &nbsp; 번 &nbsp; 호 &nbsp; 찾 &nbsp; 기</h1>
            </div>
            <div class="page_nav">
                <span><a th:href="@{/}"><i class="fa-solid fa-house"></i></a></span>
                <span><a th:href="@{/user/findPw}">비밀번호 찾기 &nbsp; <i class="fa-solid fa-caret-down"></i></a></span>
            </div>
        </div>

        <div class="inner">
            <div class="pointBox pointBox_mypage">
                <div class="point_middletext">비밀번호 찾기</div>
                <div class="point_smalltext">비밀번호를 잃어버리셨나요?</div>
                <span class="point_hr"></span>
            </div>

            <table>
                <tr>
                    <th><label for="uId">아이디</label></th>
                    <td><input type="text" id="uId" name="uId"></td>
                </tr>
                <tr>
                    <th><label for="uPhoneNum">전화번호</label></th>
                    <td><input type="text" id="uPhoneNum" name="uPhoneNum"></td>
                </tr>
                <tr>
                    <th><label for="email">이메일</label></th>
                    <td><input type="text" id="email" name="email"></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="button" value="비밀번호 찾기" onclick="findPw()"></td>
                </tr>
            </table>
            <!-- <input type="text" id="foundId" placeholder="찾은 아이디가 표시됩니다" readonly> -->
            <div>
                <a th:href="@{../user/login}">로그인</a>
                <a th:href="@{../user/findId}">아이디 찾기</a>
            </div>
        </div>
    </div>

    <div th:include="./fragment/footer"></div>



    <!--  ##################################  script  ##################################  -->
    <!--  아이디 찾기 비동기 script  -->
    <script>
        function findPw() {
            let uId = document.getElementById("uId").value;
            let uPhoneNum = document.getElementById("uPhoneNum").value;
            
            fetch('/user/findId', {
                method: 'post',
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify({
                    uId: uId,
                    uPhoneNum: uPhoneNum
                })
            })
            .then(response => {
                if (response.ok) {
                    return response.text();  // 텍스트로 변환하여 반환
                } else {
                    throw new Error('아이디를 찾는데 실패하였습니다.');
                }
            })
            .then(data => {
                document.getElementById("foundId").value = data;  // 찾은 아이디를 화면에 표시
                alert("해당하는 아이디를 찾았습니다.");
            })
            .catch(error => {
                console.log(error);
                alert("비밀번호를 찾는데 실패하였습니다. 다시 시도해주세요.");
            });
        }
    </script>
</body>
</html>