<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
    <div th:include="/fragment/head"></div>
    <div th:include="/fragment/header"></div>
    <div th:include="/fragment/nav"></div>

    <div class="content">
        <div class="image_banner">
            <div class="image_banner_bg">
                <img th:src="@{/image/mypage_banner.jpg}" alt="">
                <h1>마 &nbsp; 이 &nbsp; 페 &nbsp; 이 &nbsp; 지</h1>
            </div>
            <div class="page_nav">
                <span><a th:href="@{/}"><i class="fa-solid fa-house"></i></a></span>
                <span><a th:href="@{/user/mypage}">마이페이지 &nbsp; <i class="fa-solid fa-caret-down"></i></a></span>
            </div>
        </div>
        
        <div class="inner">
            <div class="pointBox pointBox_mypage">
                <div class="point_middletext">마이페이지</div>
                <div class="point_smalltext">나의 정보를 확인할 수 있습니다.</div>
                <span class="point_hr"></span>
            </div>
            
            <table class="userinfo" th:each="user : ${user}">
                <tr>
                    <th>이름</th>
                    <td>
                        <input type="hidden" th:value="${user.uNum}" id="inputuNum" name="uNum" readonly>
                        <input type="text" th:value="${user.uName}" id="inputuName" name="uName" readonly>
                    </td>
                </tr>
                <tr>
                    <th>전화번호</th>
                    <td><input type="text" th:value="${user.uPhoneNum}" id="inputuPhoneNum" name="uPhoneNum" readonly></td>
                </tr>
                <tr>
                    <th>생일</th>
                    <td><input type="text" th:value="${user.uBirth}" id="inputuBirth" name="uBirth" readonly></td>
                </tr>
                <tr>
                    <th>우편번호</th>
                    <td><input type="text" th:value="${user.uPostCode}" id="inputuPostCode" name="uPostCode" readonly></td>
                </tr>
                <tr>
                    <th>주소</th>
                    <td><input type="text" th:value="${user.uAddr}" id="inputuAddr" name="uAddr" readonly></td>
                </tr>
                <tr>
                    <th>상세주소</th>
                    <td><input type="text" th:value="${user.uDetailAddr}" id="inputuDetailAddr" name="uDetailAddr" readonly></td>
                </tr>
                <tr>
                    <th>가입일</th>
                    <td><input type="text" th:value="${#dates.format(user.regdate, 'yyyy-MM-dd')}" id="inputregdate" name="regdate" readonly></td>
                </tr>
            </table>
            <div class="btn_wrap">
                <input type="button" value="정보수정" th:onclick="|location.href='@{/user/userEdit}'|">
                <input type="button" value="비밀번호변경" th:onclick="|location.href='@{/user/passwordEdit}'|">
                <input type="button" value="회원탈퇴" onclick="userDeleteYN()">
            </div>
        </div>
    </div>
    
    <div th:include="/fragment/footer"></div>


    <!--  script  -->
    <script>
        function userDeleteYN(){
            let DeleteYN = confirm("회원탈퇴 하시겠습니까?")
            if(DeleteYN){
                userDeleteComplete();
            }else{
                alert("취소되었습니다.");
            }
        }

        function userDeleteComplete(){
            const urlParams = new URLSearchParams(location.search);
            let uNum = document.getElementById("inputuNum").value;
            console.log(uNum);
            fetch(urlparam + '/user/userDelete', {
                method: 'post',
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify({
                    uNum: uNum
                })
            })
                .then(response => response.json())
                .then(data => {
                    if (data) {
                        console.log(data);
                        alert("회원탈퇴가 완료되었습니다. 이용해 주셔서 감사합니다.");
                        location.href = "/logout";
                    }else{
                        alert("회원탈퇴에 실패하였습니다. 다시 시도해주세요.");
                    }
                })
                .catch((error) => console.log(error));
        }
    </script>
</body>
</html>