<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
    <div th:include="/fragment/head"></div>
    <div th:include="/fragment/header"></div>
    <div th:include="/fragment/nav"></div>

    <div class="content">
        <div class="image_banner">
            <div class="notice_banner">
                <h1>마 &nbsp; 이 &nbsp; 페 &nbsp; 이 &nbsp; 지</h1>
            </div>
        </div>
        <div class="inner">
            <h2>마이페이지</h2>
            <hr>
            <table class="userinfo">
                <!-- <tr>
                    <th>유저번호</th>
                    <td><input type="text" th:value="${#authentication.principal.member.uNum}" id="inputuNum" name="uNum" readonly></td>
                <tr> -->
                    <th>아이디</th>
                    <td><input type="text" th:value="${#authentication.principal.member.uId}" id="inputuId" name="uId" readonly></td>
                </tr>
                <!-- <tr>
                    <th>비밀번호</th>
                    <td><input type="text" th:value="${#authentication.principal.member.uPassword}" id="inputuPassword" name="uPassword" readonly></td>
                </tr> -->
                <tr>
                    <th>이름</th>
                    <td><input type="text" th:value="${#authentication.principal.member.uName}" id="inputuName" name="uName" readonly></td>
                </tr>
                <tr>
                    <th>전화번호</th>
                    <td><input type="text" th:value="${#authentication.principal.member.uPhoneNum}" id="inputuPhoneNum" name="uPhoneNum" readonly></td>
                </tr>
                <tr>
                    <th>생일</th>
                    <td><input type="text" th:value="${#authentication.principal.member.uBirth}" id="inputuBirth" name="uBirth" readonly></td>
                </tr>
                <tr>
                    <th>우편번호</th>
                    <td><input type="text" th:value="${#authentication.principal.member.uPostCode}" id="inputuPostCode" name="uPostCode" readonly></td>
                </tr>
                <tr>
                    <th>주소</th>
                    <td><input type="text" th:value="${#authentication.principal.member.uAddr}" id="inputuAddr" name="uAddr" readonly></td>
                </tr>
                <tr>
                    <th>상세주소</th>
                    <td><input type="text" th:value="${#authentication.principal.member.uDetailAddr}" id="inputuDetailAddr" name="uDetailAddr" readonly></td>
                </tr>
                <tr>
                    <th>가입일</th>
                    <td><input type="text" th:value="${#authentication.principal.member.regdate}" id="inputregdate" name="regdate" readonly></td>
                </tr>
                <!-- <tr>
                    <th>수정일</th>
                    <td><input type="text" th:value="${#authentication.principal.member.updatedate}" id="inputupdatedate" name="updatedate" readonly></td>
                </tr> -->
                <!-- <tr>
                    <th>방문일</th>
                    <td><input type="text" th:value="${#authentication.principal.member.visitdate}" id="inputvisitdate" name="visitdate" readonly></td>
                </tr> -->
                <!-- <tr>
                    <th>회원여부</th>
                    <td><input type="text" th:value="${#authentication.principal.member.member}" id="inputmember" name="member" readonly></td>
                </tr> -->
            </table>
        </div>
    </div>
    
    <div th:include="/fragment/footer"></div>
</body>
</html>