<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
    <div th:include="./fragment/head"></div>
    <div th:include="./fragment/header"></div>
    <div th:include="./fragment/nav"></div>

    <div class="content">
        <div class="image_banner">
            <div class="image_banner_bg">
                <img th:src="@{/image/mypage_banner.jpg}" alt="">
                <h1>비 &nbsp; 밀 &nbsp; 번 &nbsp; 호 &nbsp; 변 &nbsp; 경</h1>
            </div>
            <div class="page_nav">
                <span><a th:href="@{/}"><i class="fa-solid fa-house"></i></a></span>
                <span><a th:href="@{/user/mypage}">마이페이지 &nbsp; <i class="fa-solid fa-caret-down"></i></a></span>
                <span><a th:href="@{/user/passwordEdit}">비밀번호 변경 &nbsp; <i class="fa-solid fa-caret-down"></i></a></span>
            </div>
        </div>

        <div class="inner">
            <div class="pointBox pointBox_pwEdit">
                <div class="point_middletext">비밀번호 변경</div>
                <div class="point_smalltext">보안을 위해 비밀번호를 변경해 주세요.</div>
                <span class="point_hr"></span>
            </div>

            <table class="userinfo userPwEdit" th:each="user : ${user}">
                <tr>
                    <th>아이디</th>
                    <td>
                        <input type="hidden" th:value="${user.uNum}" id="inputuNum" name="uNum" readonly>
                        <input type="text" th:value="${user.uId}" id="inputuId" name="uId" readonly>
                    </td>
                </tr>
                <tr>
                    <th>현재비밀번호</th>
                    <td><input type="password" id="inputuPassword" name="uPassword"></td>
                </tr>
                <tr>
                    <th>변경할 비밀번호</th>
                    <td><input type="password" id="editPassword" name="editPassword"></td>
                </tr>
                <tr>
                    <th>비밀번호 재확인</th>
                    <td><input type="password" id="inputPwcheck" name="editPassowrdCheck"></td>
                </tr>
            </table>
            <div class="btn_wrap btn_wrap2">
                <input type="button" value="변경완료" onclick="pwEditSubmit()">
                <input type="button" value="변경취소" onclick="userEditCancel()">
                <input type="hidden">
            </div>
        </div>
    </div>
    
    <div th:include="./fragment/footer"></div>


    <!--  script  -->
    <!--  로그인 여부 비동기 script  -->
    <script>
        function pwEditSubmit(){
            const pw = document.getElementById("inputuPassword").value;
            const changepw = document.getElementById("editPassword").value;
            const changepwCheck = document.getElementById("inputPwcheck").value;

            const passwordRegex = /^(?=.*[A-Z])(?=.*[\W_])(?=.*[a-zA-Z])(?=.*\d)[A-Za-z\d\W_]{8,}$/;
            
            // 아이디 중복검사 유효성 검사도 추가 예정
            if (pw.trim() === "") {
                alert("현재 비밀번호를 입력해주세요.");
                document.getElementById("inputuPassword").focus();
                return false;
            } else if (!passwordRegex.test(pw)) {
                alert("비밀번호는 최소 8자 이상이어야 하며, 대문자, 특수기호, 영어와 숫자를 포함해야 합니다.");
                document.getElementById("inputuPassword").focus();
                return false;
            }
            if (changepw.trim() === "") {
                alert("변경할 비밀번호를 입력해주세요.");
                document.getElementById("editPassword").focus();
                return false;
            } else if (!passwordRegex.test(changepw)) {
                alert("비밀번호는 최소 8자 이상이어야 하며, 대문자, 특수기호, 영어와 숫자를 포함해야 합니다.");
                document.getElementById("editPassword").focus();
                return false;
            }
            if (changepwCheck.trim() === "") {
                alert("비밀번호를 재확인해주세요.");
                document.getElementById("inputPwcheck").focus();
                return false;
            } else if (changepw !== changepwCheck) {
                alert("비밀번호가 일치하지 않습니다.");
                document.getElementById("inputPwcheck").focus();
                return false;
            }

            userEditComplete();
        }

        function userEditComplete(){
            let uNum = document.getElementById("inputuNum").value;
            let uId = document.getElementById("inputuId").value;
            let uPassword = document.getElementById("inputuPassword").value;
            let editPassword = document.getElementById("editPassword").value;
            console.log(uNum);
            console.log(uId);
            console.log(uPassword);
            console.log(editPassword);
            fetch('/user/login', {
                method: 'post',
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify({
                    uId: uId,
                    uPassword: uPassword
                })
            })
                .then(response => response.json())
                .then(data => {
                    if (data) {
                        console.log(data);
                        // alert("현재 비밀번호가 일치합니다.");
                        passwordChange();
                    }else{
                        alert("현재 비밀번호가 일치하지 않습니다. 다시 시도해주세요.");
                    }
                })
                .catch((error) => console.log(error));
        }

        // 변경된 비밀번호 비동기 전송
        function passwordChange(){
            let uNum = document.getElementById("inputuNum").value;
            let editPassword = document.getElementById("editPassword").value;
            console.log(uNum);
            console.log(editPassword);
            fetch(urlparam + '/user/passwordEdit', {
                method: 'post',
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify({
                    uNum: uNum,
                    uPassword: editPassword
                })
            })
                .then(response => response.json())
                .then(data => {
                    if (data) {
                        console.log(data);
                        alert("비밀번호 변경이 완료되었습니다.");
                        location.href= urlparam + "/user/mypage";
                    }else{
                        alert("비밀번호 변경에 실패하였습니다. 다시 시도해주세요.");
                    }
                })
                .catch((error) => console.log(error));
        }
    </script>

    <script>
        function userEditCancel(){
            alert("비밀번호 변경을 취소하였습니다.");
            history.back();
        }
    </script>
</body>
</html>