<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
    <div th:include="/fragment/head"></div>
    <div th:include="/fragment/header"></div>
    <div th:include="/fragment/nav"></div>

    <div class="content">
        <div class="image_banner">
            <div class="notice_banner">
                <h1>비 &nbsp; 밀 &nbsp; 번 &nbsp; 호 &nbsp; 변 &nbsp; 경</h1>
            </div>
        </div>
        <div class="inner">
            <h2>비밀번호 변경</h2>
            <hr>
            <table class="userinfo" th:each="user : ${user}">
                <tr>
                    <td><input type="hidden" th:value="${user.uNum}" id="inputuNum" name="uNum" readonly></td>
                </tr>
                <tr>
                    <th>아이디</th>
                    <td><input type="text" th:value="${user.uId}" id="inputuId" name="uId" readonly></td>
                </tr>
                <tr>
                    <th>현재비밀번호</th>
                    <td><input type="password" id="inputuPassword" name="uPassword"></td>
                </tr>
                <tr>
                    <th>변경할 비밀번호</th>
                    <td><input type="password" id="editPassword" name="editPassword"></td>
                </tr>
                <!-- <tr>
                    <th>비밀번호 재확인</th>
                    <td><input type="password"></td>
                </tr> -->
            </table>
            <div>
                <input type="button" value="수정완료" onclick="userEditComplete()">
                <input type="button" value="수정취소" onclick="userEditCancel()">
            </div>
        </div>
    </div>
    
    <div th:include="/fragment/footer"></div>


    <!--  script  -->
    <!--  로그인 여부 비동기 script  -->
    <script>
        function userEditComplete(){
            let uNum = document.getElementById("inputuNum").value;
            let uId = document.getElementById("inputuId").value;
            let uPassword = document.getElementById("inputuPassword").value;
            let editPassword = document.getElementById("editPassword").value;
            console.log(uNum);
            console.log(uId);
            console.log(uPassword);
            console.log(editPassword);
            fetch('/user/login', {
                method: 'post',
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify({
                    uId: uId,
                    uPassword: uPassword
                })
            })
                .then(response => response.json())
                .then(data => {
                    if (data) {
                        console.log(data);
                        // alert("현재 비밀번호가 일치합니다.");
                        passwordChange();
                    }else{
                        alert("현재 비밀번호가 일치하지 않습니다. 다시 시도해주세요.");
                    }
                })
                .catch((error) => console.log(error));
        }

        // 변경된 비밀번호 비동기 전송
        function passwordChange(){
            let uNum = document.getElementById("inputuNum").value;
            let editPassword = document.getElementById("editPassword").value;
            console.log(uNum);
            console.log(editPassword);
            fetch(urlparam + '/user/passwordEdit', {
                method: 'post',
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify({
                    uNum: uNum,
                    uPassword: editPassword
                })
            })
                .then(response => response.json())
                .then(data => {
                    if (data) {
                        console.log(data);
                        alert("비밀번호 변경이 완료되었습니다.");
                        location.href= urlparam + "/user/mypage";
                    }else{
                        alert("비밀번호 변경에 실패하였습니다. 다시 시도해주세요.");
                    }
                })
                .catch((error) => console.log(error));
        }
    </script>

    <script>
        function userEditCancel(){
            alert("비밀번호 변경을 취소하였습니다.");
            history.back();
        }
    </script>
</body>
</html>