<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
    <div th:include="/fragment/head"></div>
    <div th:include="/fragment/header"></div>
    <div th:include="/fragment/nav"></div>

    <div class="content">
        <div class="image_banner">
            <div class="notice_banner">
                <h1>개 &nbsp; 인 &nbsp; 정 &nbsp; 보 &nbsp; 수 &nbsp; 정</h1>
            </div>
        </div>
        <div class="inner">
            <h2>개인정보 수정</h2>
            <hr>
            <table class="userinfo" th:each="user : ${user}">
                <tr>
                    <td><input type="hidden" th:value="${user.uNum}" id="inputuNum" name="uNum" readonly></td>
                </tr>
                <tr>
                    <th>이름</th>
                    <td colspan="2"><input type="text" th:value="${user.uName}" id="inputuName" name="uName"></td>
                </tr>
                <tr>
                    <th>전화번호</th>
                    <td colspan="2"><input type="text" th:value="${user.uPhoneNum}" id="inputuPhoneNum" name="uPhoneNum"></td>
                </tr>
                <tr>
                    <th>생일</th>
                    <td colspan="2"><input type="text" th:value="${user.uBirth}" id="inputuBirth" name="uBirth"></td>
                </tr>
                <tr>
                    <th><label for="sample6_postcode">우편번호</label></th>
                    <td><input type="text" th:value="${user.uPostCode}" id="sample6_postcode" name="uPostCode" placeholder="우편번호"></td>
                    <td><input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기"></td>
                </tr>
                <tr>
                    <th><label for="sample6_address">주소</label></th>
                    <td colspan="2"><input type="text" th:value="${user.uAddr}" id="sample6_address" name="uAddr" placeholder="주소"></td>
                </tr>
                <tr>
                    <th><label for="sample6_detailAddress">상세주소</label></th>
                    <td colspan="2"><input type="text" th:value="${user.uDetailAddr}" id="sample6_detailAddress" name="uDetailAddr" placeholder="상세주소"></td>
                </tr>
            </table>
            <div>
                <input type="button" value="수정완료" onclick="userEditComplete()">
                <input type="button" value="수정취소" onclick="userEditCancel()">
            </div>
        </div>
    </div>
    
    <div th:include="/fragment/footer"></div>


    <!--  주소찾기 script  -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        function sample6_execDaumPostcode() {
            new daum.Postcode({
                oncomplete: function(data) {
                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                    // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    var addr = ''; // 주소 변수

                    //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                    if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                        addr = data.roadAddress;
                    } else { // 사용자가 지번 주소를 선택했을 경우(J)
                        addr = data.jibunAddress;
                    }

                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    document.getElementById('sample6_postcode').value = data.zonecode;
                    document.getElementById("sample6_address").value = addr;
                    // 커서를 상세주소 필드로 이동한다.
                    document.getElementById("sample6_detailAddress").focus();
                }
            }).open();
        }
    </script>

    <!--  script  -->
    <script>
        function userEditComplete(){
            let uNum = document.getElementById("inputuNum").value;
            let uName = document.getElementById("inputuName").value;
            let uPhoneNum = document.getElementById("inputuPhoneNum").value;
            let uBirth = document.getElementById("inputuBirth").value;
            let uPostCode = document.getElementById("sample6_postcode").value;
            let uAddr = document.getElementById("sample6_address").value;
            let uDetailAddr = document.getElementById("sample6_detailAddress").value;
            console.log(uNum);
            fetch(urlparam + '/user/userEdit', {
                method: 'post',
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify({
                    uNum: uNum,
                    uName: uName,
                    uPhoneNum: uPhoneNum,
                    uBirth: uBirth,
                    uPostCode: uPostCode,
                    uAddr: uAddr,
                    uDetailAddr: uDetailAddr
                })
            })
                .then(response => response.json())
                .then(data => {
                    if (data) {
                        console.log(data);
                        alert("회원정보 수정이 완료되었습니다.");
                        location.href= urlparam + "/user/mypage";
                    }else{
                        alert("회원정보 수정에 실패하였습니다. 다시 시도해주세요.");
                    }
                })
                .catch((error) => console.log(error));
        }
    </script>

    <script>
        function userEditCancel(){
            alert("회원정보 수정을 취소하였습니다.");
            history.back();
        }
    </script>
</body>
</html>