@charset "utf-8";

/*google 웹폰트 css 파일 불러오기*/
@import url(https://fonts.googleapis.com/css?family=Galada|Nanum+Gothic|Nanum+Myeongjo);
.font_gothic {font-family: 'Nanum Gothic', sans-serif;}
.font_myeong {font-family: 'Nanum Myeongjo', serif;}
.font_galada {font-family: 'Galada', cursive;}
/* 저장된 글꼴 파일 선언*/
/* @font-face { font-family : font_gothic;
                src : local(../font/NanumGothic.ttf) ; }  */
/* 웹사이트의 글꼴 파일 선언*/
/* @font-face { font-family : font_gothic;
                src : url(http://uhbee.com/nanum.eot) ; }   */

*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-size: 16px;
    letter-spacing: -1px;
    color:#6f6f6f;
}
ul, ol, li{
    list-style-type: none;
}
img, fieldset{
    border: none;
    vertical-align: middle;
}
hr{
    clear: both;
    border: none;
}
a{
    color: inherit;
    text-decoration: none;
}
table{
    border-collapse: collapse;
    border: none;
}
tr, th, td{
    border: none;
}
input, textarea{color: inherit;
    font-size: inherit;
    font-family: inherit;
    vertical-align: middle;
}
.inner{
    width: 1200px;
    margin: 0 auto;
}
.inner h2{
    text-align: center;
    margin-bottom: 50px;
    color:#414141;
}
/* image_banner */
.image_banner{
    position: relative;
    width: 100%;
    min-width: 1200px;
    height: 280px;
    margin-bottom: 120px;
}
.image_banner_bg{
    position: relative;
    width: 100%;
    height: 100%;
}
.image_banner_bg::before{
    content: "";
    opacity: 0.5;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #000;
}
.image_banner_bg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.image_banner_bg>h1{
    position: relative;
    text-align: center;
    bottom: 160px;
    color: #eee;
}
.page_nav{
    position: relative;
    display: flex;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    padding-left: 18%;
    border-bottom: 1px solid #bbb;
    box-sizing: border-box;
}
.page_nav span{
    display: block;
    height: 30px;
}
.page_nav span:nth-child(1){
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
    padding: 0px 10px;
}
.page_nav span:nth-child(2){
    border-right: 1px solid #bbb;
    padding: 0px 20px;
}
.page_nav span:nth-child(3){
    border-right: 1px solid #bbb;
    padding: 0px 20px;
}
/* 페이지네이션 */
.paginationBox{
    margin-bottom: 100px;
    text-align: center;
}
.pagination{
    display: flex;
    justify-content: center;
}
.pagination li{
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    box-sizing: border-box;
    margin-right: -1px;
    color: royalblue;
    border: 1px solid #ccc;
    z-index: 999;
}
.pagination li.active{
    width: 30px;
    height: 30px;
    color: #eee;
    background-color: royalblue;
}
.pagination li a{
    display: block;
    width: 100%;
    height: 100%;
    transition: 0.2s;
}
.pagination li a:hover{
    background-color: rgb(100, 131, 226);
    color: #eee;
}
.countAlarm{
    margin-bottom: 30px;
}
/* templates/fragment/header */
header{
    width: 100%;
    min-width: 1200px;
    height: 25px;
    background-color: #222;
    color: #f4f4f4;
    letter-spacing: -0.5px;
}
header .inner{
    display: flex;
    justify-content: space-between;
}
header .inner div:first-child{
    line-height: 25px;
}
header .inner div:last-child{
    display: flex;
    line-height: 25px;
}
header .inner div:last-child h6 a{
    padding: 0 8px;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}
.login_modal{
    cursor: pointer;
}
header .inner div:last-child h6:last-child a{
    border-right: 0;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.modal.show {
opacity: 1;
}
.modal-content {
    position: absolute;
    left: 50%;
    top: -50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    margin: 10% auto;
    border-radius: 10px;
    width: 800px;
    height: 500px;
    display: flex;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
      0 10px 10px rgba(0,0,0,0.22);
    transition: top 0.3s ease-in-out;
}
.modal.show .modal-content {
    top: 30%;
}
.close{
    position: absolute;
    right: 10px;
    color: #eee;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
.close:hover,
.close:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.left_modal{
    position: relative;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 50%;
    text-align: center;
    color: #222;
    background-color: #fff;
    box-sizing: border-box;
}
.left_modal h3{
    font-size: 35px;
    letter-spacing: 5px;
    font-weight: 900;
    margin: 70px 0px 30px 0px;
}
.left_modal>div:nth-child(2){
    margin-bottom: 35px;
}
.left_modal>div:nth-child(2){
    display: flex;
    justify-content: center;
}
.left_modal>div:nth-child(2) a{
    position: relative;
    display: block;
    width: 21px;
    height: 21px;
    border: 1.5px solid #ddd;
    border-radius: 50%;
    padding: 10px;
    margin: 0px 10px;
}
.left_modal .naver{
    position: relative;
    width: 27px;
    height: 27px;
    right: 3px;
    bottom: 3px;
}
.left_modal .google{
    position: relative;
    width: 22px;
    height: 22px;
}
.left_modal .kakao{
    position: relative;
    width: 26px;
    height: 26px;
    right: 3px;
    bottom: 2px;
}
.left_modal .fa-kickstarter{
    font-size: 30px;
}
.left_modal>div:nth-child(3){
    margin-bottom: 10px;
}
.left_modal>div:nth-child(3) p{
    font-size: 13px;
    margin-bottom: 10px;
}
.left_modal>div:nth-child(3) input{
    width: 70%;
    height: 40px;
    padding: 5px 10px;
    box-sizing: border-box;
    margin-bottom: 15px;
}
.left_modal>div:nth-child(4){
    margin-bottom: 15px;
    font-size: 14px;
}
.left_modal>div:nth-child(4) a{
    transition: 0.3s;
    color: royalblue;
}
.left_modal>div:nth-child(4) a:hover{
    color: crimson;
}
.left_modal>div:nth-child(5) input{
    width: 140px;
    height: 40px;
    border: none;
    border-radius: 50px;
    background-color: #FF4C2A;
    color: #eee;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
.left_modal>div:nth-child(5) input:hover{
    background-color: royalblue;
}
.right_modal{
    position: relative;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 50%;
    text-align: center;
    color: #eee;
    background-image: linear-gradient(to right, #ff464c, #ff416b);
}
.right_modal h3{
    font-size: 35px;
    margin: 160px 0px 30px 0px;
}
.right_modal p{
    margin-bottom: 30px;
}
.right_modal a{
    display: block;
    margin: 0 auto;
    width: 140px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #fff;
    box-sizing: border-box;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
.right_modal a:hover{
    background-color: royalblue;
}
/* templates/fragment/nav */
nav{
    position: relative;
    width: 100%;
    min-width: 1200px;
    letter-spacing: -1px;
}
nav .main_nav{
    display: flex;
    justify-content: center;
}
nav .main_nav>li{
    position: relative;
    padding: 15px 0;
}
nav .main_nav>li>a{
    position: relative;
    padding: 15px 25px;
    font-size: 18px;
    font-weight: bold;
    color: #222;
    transition: 0.3s;
}
nav .main_nav>li>a:hover{
    color: royalblue;
}
nav .main_nav>li:last-child a{
    padding: 7px 25px;
    border-radius: 10px;
    color: #fff;
    background-color: #FF4C2A;
    transition: 0.5s;
}
nav .main_nav>li:last-child a:hover{
    background-color: royalblue;
}
nav .sub_nav{
    position: absolute;
    top: 57px;
    left: 50%;
    transform: translate(-50%,0%);
    text-align: center;
    font-size: 15px;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}
nav .sub_nav ul li{
    width: 200px;
    margin: 10px 0;
}
nav .sub_nav ul li a:hover{
    color: #333;
    font-weight: bold;
}
.sub_nav_bg{
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-left: none;
    border-right: none;
    position: absolute;
    width: 100%;
    height: 0px;
    background-color: #fafafa;
    transition: 0.3s;
    z-index: 10;
}
nav:hover .sub_nav_bg{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    height: 220px;
    z-index: 10;
}
nav:hover .sub_nav{
    visibility: visible;
    opacity: 1;
}
/* templates/fragment/footer */
footer{
    width: 100%;
    min-width: 1200px;
    height: 250px;
    background-color: #444;
}
footer .inner>div:nth-child(1){
    display: flex;
    justify-content: space-between;
}
footer .inner>div:nth-child(1) div:nth-child(1){
    padding: 20px 0 10px;
    display: flex;
}
footer .inner>div:nth-child(1) div:nth-child(1) h4{
    margin-right: 40px;
    color: #eee;
}
footer .inner>div:nth-child(1) div:nth-child(2){
    padding: 20px 0 10px;
    display: flex;
}
footer .inner>div:nth-child(1) div:nth-child(2) h4{
    margin-left: 20px;
    color: #eee;
}
footer .inner>div:nth-child(2){
    display: flex;
    justify-content: space-between;
}
footer .inner>div:nth-child(2) hr:nth-child(1){
    width: 15%;
    height: 3px;
    background-color: #666;
    margin-bottom: 20px;
}
footer .inner>div:nth-child(2) hr:nth-child(2){
    width: 85%;
    height: 3px;
    background-color: #333;
    margin-bottom: 20px;
}
footer .inner>div:nth-child(3){
    display: flex;
}
footer .inner>div:nth-child(3)>div{
    margin-right: 40px;
}
footer .inner>div:nth-child(3) div:nth-child(1) h1:nth-child(1){
    font-size: 50px;
    color: #bbb;
    margin-bottom: -15px;
}
footer .inner>div:nth-child(3) div:nth-child(1) h1:nth-child(2){
    font-size: 50px;
    color: #ddd;
    margin-bottom: 10px;
}
footer .inner>div:nth-child(3) div:nth-child(2) div:nth-child(1) a{
    font-size: 15px;
    margin-right: 30px;
    transition: 0.2s;
    color: #949494;
}
footer .inner>div:nth-child(3) div:nth-child(2) div:nth-child(1) a:hover{
    color: #bbb;
}
footer .inner>div:nth-child(3) div:nth-child(2) div:nth-child(2) p{
    font-size: 13px;
    margin-bottom: 5px;
}
footer .inner>div:nth-child(4){
    letter-spacing: 0;
}
/* templates/fragment/slideBanner */
.slide{
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 350px;
    user-select: none;
}
.slide_item{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 0px;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    transition: left 0.15s;
}
.slide_item a{
    display: block;
    width: 100%;
    height: 100%;
}
.slide_item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slide_button{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: calc(50% - 30px);
    width: 32px;
    height: 52px;
    border-radius: 50px;
    background-color: #cccc;
    cursor: pointer;
    transition: 0.2s;
}
.slide_button:hover{
    background-color: #555;
    color: #eee;
}
.slide_prev_button{
    left: 10px;
}
.slide_next_button{
    right: 10px;
}
.slide_item.item1{
    /* background-color: darkgoldenrod; */
}
.slide_item.item2{
    /* background-color: aqua; */
}
.slide_item.item3{
    /* background-color: blueviolet; */
}
ul,li{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.slide_pagination{
    display: flex;
    gap: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.slide_pagination > li{
    color: #7fb5ff88;
    cursor: pointer;
    font-size: 25px;
}
.slide_pagination > li.active{
    color: #64a5ff;
}
/* templates/page/home */
.pointBox{
    margin-bottom: 30px;
}
.point_bigtext{
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 5px;
    color: #f4435d;
}
.point_middletext{
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 4px;
    color: #ff416b;
}
.point_smalltext{
    font-size: 16px;
    color: #999;
    letter-spacing: 1px;
}
.point_admintext{
    font-size: 25px;
    color: #5C469C;
    font-weight: bold;
    letter-spacing: 3px;
}
.point_hr{
    display: block;
    width: 30px;
    height: 3px;
    background-color: #222;
    margin-bottom: 10px;
}
.content1{
    padding-top: 60px;
    margin-bottom: 50px;
}
.content1 article{
    display: flex;
    justify-content: space-between;
}
.content1 article>a{
    display: block;
    width: 235px;
    height: 270px;
    border: 1px solid #fff;
    padding: 10px;
    box-sizing: border-box;
    transition: 0.3s;
}
.content1 article>a>div:first-child{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
}
.content1 article>a>div:last-child{
    width: 100%;
    height: 120px;
    text-align: center;
}
.content1 article h3{
    font-size: 20px;
}
.content1 article h3 b{
    font-size: 30px;
    color: darkorchid;
}
.content1 article img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content1 article h5{
    line-height: 20px;
    letter-spacing: 0px;
    font-weight: 400;
    font-size: 13px;
    text-align: left;
    padding-top: 30px;
}
.content1 article h4{
    letter-spacing: 0px;
    font-size: 19px;
    padding-top: 15px;
    margin-bottom: 10px;
}
.content1 article hr{
    width: 30px;
    border: 1px solid #ccc;
    margin: 0 auto;
    margin-bottom: 10px;
}
.content1 article p{
    letter-spacing: 1px;
    font-size: 13px;
}
.content1 article>a:hover{
    border: 1px solid royalblue;
    background-color: #f6f6f6;
}
.content1 article>a:first-child:hover{
    border: 1px solid #fff;
    background-color: #fff;
}
.content2{
    margin-bottom: 100px;
    position: relative;
    display: flex;
    justify-content: center;
}
.content2 article{
    width: 100%;
}
.content2 .content2Table{
    width: 1200px;
    height: 600px;
    border-collapse: separate;
    border-spacing: 15px 15px;
}
.content2 .content2Table td{
    position: relative;
    background-color: gold;
}
.content2 .content2Table td div{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
.content2 .content2Table td div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content2 .content2Wrap{
    position: relative;
    width: 1200px;
    height: 600px;
}
.content2 .imageBox{
    position: relative;
    width: 1200px;
    height: 600px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #000;
}
.content2 .imageBox div{
    border: 1px solid blue;
}
.content2 .imageBox>div{
    width: 285px;
}
.content2 .imageBox>div:nth-child(2){
    width: 570px;
}
.content2 .imageBox>div:nth-child(2)>div:nth-child(1){
    display: flex;
    justify-content: space-between;
}
.content2 .imageBox>div:nth-child(2)>div:nth-child(1)>div{
    width: 285px;
    height: 200px;
}
.content2 .videoBox{
    width: 1170px;
    height: 570px;
    position: absolute;
    left: 15px;
    top: 15px;
}
.content2 .videoBox iframe{
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 578px;
    height: 375px;
}
.content3{
    margin-bottom: 100px;
}
.content3 .homeTable{
    display: flex;
    justify-content: space-between;
}
.content3 article{
    width: 350px;
}
.content3_banner{
    width: 350px;
    border: 1px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    background-color: #d7d7d7;
}
.content3_content table{
    width: 350px;
    border: 1px solid #000;
    background-color: #f5f5f5;
    table-layout: fixed;
}
.content3_content table td:nth-child(1){
    width: 15px;
    text-align: center;
}
.content3_content table td:nth-child(2){
    display: block;
    padding: 2px 5px;
    font-size: 15px;
    box-sizing: border-box;
}
.content3_content table td:nth-child(2) a div{
    max-width: 270px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.content3_content table td:nth-child(3){
    width: 50px;
    text-align: center;
}
.content3_content table td i{
    position: relative;
    bottom: 1.5px;
    font-size: 2px;
    color: #777;
}
.content3 .hrefBtn{
    width: 100%;
    height: 100%;
    background-color: #444;
    color: #fff;
}
.content3 .hrefBtn td{
    border: 1px solid #000;
}
.content3 .hrefBtn td a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: 0.3s;
}
.content3 .hrefBtn td a:hover{
    background-color: #666;
}
.content3 .hrefBtn td p{
    font-size: 16px;
}
.content3 .hrefBtn td p i{
    font-size: 40px;
    margin-bottom: 10px;
}
/* templates/page/info */
.info_section article:nth-child(1) figure{
	width: 100%;
	height: calc(100vh - 326px);
	background: #000;
	position: relative;
	overflow: hidden;
	padding-top: 250px;
}
.info_section article:nth-child(1) figure video{
	object-fit: cover;  /* 영상을 figure 영역 안에 꽉 차도록 설정 */
	width: 100%;
	height: 100%;
	opacity: 0.3;
	position: absolute;
	top: 0px;
	left: 0px;
}
.info_section article:nth-child(1) figure .inner{
	width: 1180px;
	margin: 0px auto;
	position: relative;
}
.info_section article:nth-child(1) figure .inner h1{
	font: normal 120px/1 "arial";
	color: #fff;
	margin-bottom: 20px;
}
.info_section article:nth-child(1) figure .inner p{
	font: 16px/1.4 "arial";
	color: #888;
	margin-bottom: 60px;
}
.info_section article:nth-child(1) figure .inner a{
	display: block;
	width: 400px;
	height: 30px;
	border: 1px solid #bbb;
	font: bold 11px/30px "arial";
	color: #fff;
	text-align: center;
	letter-spacing: 1px;
	transition: all 0.5s;
}
.info_section article:nth-child(1) figure .inner a:hover{
	background: #fff;
	color: #555;
}
.info_section article:nth-child(2){
    width: 100%;
    height: 600px;
    padding: 100px;
    background-color: #ff464c;
    color: #fff;
    box-sizing: border-box;
}
.info_section article:nth-child(2)>div:nth-child(1) h2{
    width: 200px;
    font-size: 30px;
    border-bottom: 3px solid #fff;
    margin-bottom: 40px;
}
.info_section article:nth-child(2)>div:nth-child(2){
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.info_section article:nth-child(2)>div:nth-child(2) h3{
    font-size: 25px;
    margin-bottom: 30px;
    color: darkblue;
}
.info_section article:nth-child(2)>div:nth-child(2) i{
    font-size: 20px;
}
.info_section article:nth-child(2)>div:nth-child(2) p{
    font-size: 19px;
    line-height: 40px;
    letter-spacing: 1px;
}
.info_section article:nth-child(3){
    width: 100%;
    height: 850px;
    padding: 100px;
    background-color: #fff;
    box-sizing: border-box;
}
.info_section article:nth-child(3) div:nth-child(1) h2{
    width: 200px;
    font-size: 30px;
    border-bottom: 3px solid #555;
    margin-bottom: 40px;
}
.info_section article:nth-child(3)>div:nth-child(2){
    display: flex;
    justify-content: space-between;
}
.info_section article:nth-child(3)>div:nth-child(2) div{
    border-left: 6px solid royalblue;
    padding-left: 20px;
    box-sizing: border-box;
}
.info_section article:nth-child(3)>div:nth-child(2) ul{
    margin-bottom: 25px;
}
.info_section article:nth-child(3)>div:nth-child(2) li{
    display: flex;
}
.info_section article:nth-child(3)>div:nth-child(2) h3{
    width: 100px;
    height: 30px;
    line-height: 30px;
    box-sizing: border-box;
}
.info_section article:nth-child(3)>div:nth-child(2) p{
    height: 30px;
    line-height: 30px;
    box-sizing: border-box;
}
.info_section article:nth-child(4){
    width: 100%;
    height: 850px;
    padding: 100px;
    background-color: #eee;
    box-sizing: border-box;

}
.info_section article:nth-child(4) div h2{
    width: 200px;
    font-size: 30px;
    border-bottom: 3px solid #555;
    margin-bottom: 40px;
}

.info_section article:nth-child(5){
    width: 100%;
    height: 850px;
    padding: 100px;
    background-color: royalblue;
    box-sizing: border-box;
}
.info_section article:nth-child(5) div h2{
    width: 200px;
    font-size: 30px;
    border-bottom: 3px solid #fff;
    color: #fff;
    margin-bottom: 40px;
}
.info_section article:nth-child(5) table{
    width: 100%;
    height: 150px;
    letter-spacing: 1px;
    margin-bottom: 40px;
    color: #fff;
}
.info_section article:nth-child(5) table th{
    border: 1px solid #fff;
    width: 250px;
    font-size: 17px;
}
.info_section article:nth-child(5) table td{
    border: 1px solid #fff;
    text-align: center;
    font-size: 15px;
}
.info_section article:nth-child(5) table thead{
    height: 50px;
    font-weight: bold;
    border-bottom: 2px dashed #fff;
    background-color: #eee;
    color: #222;
}

.info_section article:nth-child(6){
    width: 100%;
    height: 500px;
    padding: 100px;
    box-sizing: border-box;
}
.info_section article:nth-child(6) div h2{
    width: 200px;
    font-size: 30px;
    border-bottom: 3px solid #555;
    margin-bottom: 40px;
}
.info_section article:nth-child(6) div:nth-child(2){
    display: flex;
    justify-content: space-evenly;
}
.info_section article:nth-child(6) ul li{
    font-size: 20px;
    margin-bottom: 20px;
}
/* templates/page/location */
.mapBox{
    width: 100%;
    margin-bottom: 130px;
}
.mapBox>div:nth-child(1){
    width: 100%;
}
.mapBox>div:nth-child(1) img{
    width: 100%;
    object-fit: cover;
}
.mapBox table{
    width: 100%;
}
.mapBox table th{
    width: 250px;
    padding: 25px 0px;
    font-size: 20px;
    border: 1px solid #000;
    box-sizing: border-box;
}
.mapBox table td{
    letter-spacing: 1px;
    padding: 0px 20px;
    border: 1px solid #000;
    box-sizing: border-box;
}
.mapBox table tr:nth-child(1){
    background-color: #f4435d;
    color: #fff;
}
/* templates/user/signup */
.image_banner_bg .signupBanner{
    object-position: center 81%;
}
.pointBox_signup{
    position: relative;
    padding-left: 298px;
}
.floating_labels{
    margin: 0 auto;
    width: 500px;
    height: 900px;
    padding: 50px;
    border: 1px solid #ccc;
    margin-bottom: 100px;
}
.form_groupBox{
    position: relative;
}
.form_groupBox>.fa-solid{
    position: absolute;
    font-size: 20px;
    color: #aaa;
    padding-left: 10px;
    padding-top: 7px;
    z-index: 10;
}
.form_group{
    position: relative;
    margin-bottom: 20px;
}
.form_control{
    width: 100%;
    padding: 10px 10px 10px 43px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    transition: border-bottom-color 0.3s;
}
.form_control:focus{
    border-bottom-color: dodgerblue;
    outline: none;
}
.form_control_postBtn{
    position: absolute;
    right: 20px;
    bottom: 15px;
    width: 80px;
    height: 30px;
    border-radius: 10px;
    font-size: 12px;
    background-color: royalblue;
    color: #eee;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}
.form_control_postBtn:hover{
    background-color: tomato;
}
.form_groupBox label{
    position: absolute;
    top: 7px;
    left: 40px;
    font-size: 16px;
    color: #999;
    transition: all 0.3s;
    pointer-events: none;
}
.form_control:focus ~ label,
.form_control:valid ~ label{
    top: -15px;
    left: 10px;
    font-size: 14px;
    color: dodgerblue;
}
.policyBox>div>h5{
    padding-top: 20px;
    margin-bottom: 10px;
    color: #888;
}
.policyBox textarea{
    width: 100%;
    height: 200px;
    resize: none;
    font-size: 13px;
    margin-bottom: 10px;
}
.policyBox p {
    font-size: 14px;
    margin-bottom: 50px;
}
.submitBox{
    text-align: center;
}
.submitBox input{
    width: 250px;
    height: 50px;
    background-color: tomato;
    color: #eee;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.submitBox input:hover{
    background-color: royalblue;
}
.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}
/* templates/user/findId */
.idFindWrap{
    width: 100%;
}
.idFindWrap table{
    width: 500px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.idFindWrap table th{
    padding: 0px 10px;
    height: 40px;
    font-size: 17px;
    background-color: #e5e5e5;
    border: 1px solid #000;
    border-left: none;
}
.idFindWrap table td{
    height: 40px;
    text-align: center;
    border: 1px solid #000;
    border-right: none;
}
.idFindWrap table td>input{
    width: 100%;
    height: 100%;
    padding: 0px 20px;
    border: none;
    outline: none;
    box-sizing: border-box;
}
.idFindWrap>div:nth-child(2){
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.idFindWrap>div:nth-child(2) input{
    width: 500px;
    height: 35px;
    background-color: #f4435d;
    color: #fff;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.3s;
}
.idFindWrap>div:nth-child(2) input:hover{
    background-color: tomato;
}
.idFindWrap>div:nth-child(3){
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
}
.idFindWrap>div:nth-child(3) input{
    width: 500px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    letter-spacing: 0px;
    color: #000;
    background-color: #f5f5f5;
}
.idFindWrap>div:last-child{
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
}
.idFindWrap>div:last-child a{
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: royalblue;
    transition: 0.3s;
}
.idFindWrap>div:last-child a:hover{
    background-color: #64a5ff;
}
/* templates/user/mypage */
.pointBox_mypage{
    position: relative;
    padding-left: 352px;
}
.userinfo{
    margin: 0 auto;
    margin-bottom: 60px;
}
.userinfo th{
    position: relative;
    width: 140px;
    height: 50px;
    font-size: 17px;
    letter-spacing: 8px;
    border-right: 3px double #555;
    border-left: none;
    border-top: 2px solid #aaa;
    border-bottom: 2px solid #aaa;
    background-color: #f5f5f5;
}
.userinfo td{
    position: relative;
    width: 350px;
    height: 50px;
    letter-spacing: 1px;
    border-right: none;
    border-top: 2px solid #aaa;
    border-bottom: 2px solid #aaa;
}
.userinfo td input{
    width: 100%;
    height: 100%;
    padding: 0px 20px;
    border: none;
    outline: none;
    box-sizing: border-box;
}
.userinfo tr:first-child th, .userinfo tr:first-child td{
    border-top: 2px solid royalblue;
}
.userinfo tr:last-child th, .userinfo tr:last-child td{
    border-bottom: 2px solid royalblue;
}
.btn_wrap{
    position: relative;
    margin: 0 auto;
    width: 490px;
    box-sizing: border-box;
    margin-bottom: 200px;
}
.btn_wrap input{
    padding: 7px 10px;
    color: #fff;
    border: none;
    border-radius: 10px;
    background-color: #FF4C2A;
    cursor: pointer;
    transition: 0.3s;
}
.btn_wrap input:hover{
    background-color: royalblue;
}
.btn_wrap input:first-child{
    margin-right: 10px;
}
.btn_wrap input:last-child{
    position: absolute;
    right: 0;
    background-color: #f4435d;
}
.btn_wrap input:last-child:hover{
    background-color: royalblue;
}
/* templates/user/userEdit */
.useredit td{
    color: #000;
}
.userinfo td #postBtn{
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translate(0, -50%);
    width: 90px;
    height: 30px;
    padding: 0;
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 13px;
    letter-spacing: -1px;
    color: #fff;
    box-sizing: border-box;
    background-color: #f4435d;
    cursor: pointer;
    transition: 0.3s;
}
.userinfo td #postBtn:hover{
    background-color: royalblue;
}
/* templates/user/passwordEdit */
.pointBox_pwEdit{
    position: relative;
    padding-left: 319px;
}
.userPwEdit th{
    width: 210px;
    letter-spacing: 6px;
}
.btn_wrap2{
    width: 560px;
}
/* templates/community/notice */
.pointBox_notice{
    position: relative;
    padding-left: 149px;
    box-sizing: border-box;
}
.notice_searchBox{
    padding-left: 68.5%;
    margin-bottom: 30px;
}
.notice_searchBox input{
    width: 200px;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    padding: 0px 10px;
    margin-right: -5px;
    box-sizing: border-box;
}
.notice_searchBox button{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.board_table{
    width: 900px;
    margin: 0 auto 30px;
    margin-bottom: 30px;
}
.board_table tr{
    transition: 0.2s;
}
.board_table tr:hover{
    background-color: #f7f7f7;
}
.board_table tr th{
    height: 45px;
    font-size: 17px;
    border-top: 2px solid #000;
    border-bottom: 1px solid #ccc;
    border-left: none;
    border-right: none;
    background-color: #eee;
}
.board_table tr td{
    width: 100px;
    height: 45px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    border-left: none;
    border-right: none;
}
.board_table tr td:nth-child(1){
    width: 80px;
}
.board_table tr td:nth-child(3){
    width: 520px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.board_table tr td:nth-child(3) div{
    padding: 0 20px;
    width: 480px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 500;
}
.board_table tr td a{
    display: block;
    line-height: 45px;
    width: 100%;
    height: 100%;
}
.board_table_btn{
    position: relative;
    bottom: 70px;
}
.board_table_btn a{
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
    padding: 5px 25px;
    background-color: tomato;
    margin-left: 965px;
    transition: 0.3s;
}
.board_table_btn a:hover{
    background-color: royalblue;
}
/* templates/community/noticeWrite */
.board_write_table{
    width: 900px;
    margin: 0 auto 30px;
    margin-bottom: 150px;
    border: 1px solid #222;
}
.board_write_table tr,.board_write_table tr td{
    border: 1px solid #222;
}
.board_write_table tr th{
    width: 200px;
    height: 40px;
    background-color: #eee;
}
.board_write_table tr td{
    width: 700px;
}
.board_write_table tr td input{
    width: 700px;
    height: 40px;
    border: none;
    padding: 0px 20px;
    box-sizing: border-box;
    color: #222;
}
.board_write_table tr td input:focus{
    outline: none;
}
.board_write_table tr:nth-child(2) th{
    width: 200px;
    height: 40px;
}
.board_write_table tr:nth-child(2) td{
    width: 250px;
}
.board_write_table tr:nth-child(2) td input{
    width: 250px;
}
.board_write_table tr td textarea{
    width: 700px;
    height: 500px;
    resize: none;
    overflow-y: scroll;
    border: none;
    padding: 20px 20px;
    box-sizing: border-box;
    color: #222;
}
.board_write_table tr td textarea:focus{
    outline: none;
}
.board_write_table tr:nth-child(4) td span input{
    width: 100px;
    height: 30px;
    border: 1px solid #222;
}
.board_write_table_btn_box{
    display: flex;
}
.board_write_table_btn_box .board_table_btn{
    left: 810px;
    margin-right: 40px;
}
.board_write_table_btn_box .board_table_btn input{
    width: 100px;
    height: 28px;
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
    background-color: tomato;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}
.board_write_table_btn_box .board_table_btn input:hover{
    background-color: royalblue;
}
/* templates/community/noticeWrite */
.pointBox_noticedetail{
    position: relative;
    padding-left: 12.5%;
}
.board_detail_table tr td{
    color: #222;
    padding: 0px 20px;
}
.board_detail_table tr:nth-child(3) td textarea{
    width: 100%;
    height: 100%;
    min-height: 250px;
    padding: 20px 0px;
    box-sizing: border-box;
}
/* templates/community/faq */
.faq_tableWrap{
    width: 76%;
    margin: 0 auto;
    margin-bottom: 60px;
}
.faq_table{
    width: 100%;
    margin: 0 auto;
}
.faq_table tr th{
    height: 50px;
    border-top: 0.5px solid #000;
    border-bottom: 0.5px solid #000;
    box-sizing: border-box;
    background-color: #f5f5f5;
    color: #222;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.faq_table tr th i{
    font-size: 20px;
}
.faq_table tr:first-child th:nth-child(1){
    width: 80px;
}
.faq_table tr:first-child th:nth-child(2){
    position: relative;
}
.faq_table tr:first-child th:nth-child(2) input{
    position: absolute;
    right: 50px;
    font-size: 13px;
    width: 50px;
    height: 25px;
    background-color: royalblue;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
}
.faq_table tr:first-child th:nth-child(2) input:hover{
    background-color: #64a5ff;
}
.faq_table tr td{
    height: 40px;
    padding: 30px 50px;
    box-sizing: border-box;
    background-color: #F9F5F6;
    transition: max-height 0.3s ease;
    max-height: 0;
    overflow: hidden;
}
.faq_table tr td i{
    font-size: 20px;
    font-weight: bold;
}
.faq_question{
    cursor: pointer;
}
.faq_answer{
    display: none;
}
.faq_answer.active{
    display: table-row;
}
.faqWriteBtn{
    position: relative;
    width: 100%;
    text-align: right;
    margin-bottom: 50px;
    box-sizing: border-box;
}
.faqWriteBtn a{
    position: relative;
    right: 140px;
    bottom: 50px;
    padding: 5px 30px;
    border-radius: 5px;
    background-color: tomato;
    color: #fff;
    transition: 0.3s;
}
.faqWriteBtn a:hover{
    background-color: royalblue;
}
/* templates/community/faqWrite */
.faqWrite_table{
    margin: 0 auto;
    width: 75%;
    margin-bottom: 100px;
    border: 1px solid #000;
}
.faqWrite_table th{
    background-color: #e7e7e7;
    border: 1px solid #000;
}
.faqWrite_table tr:nth-child(1) th{
    height: 40px;
}
.faqWrite_table tr:nth-child(2) th{
    height: 200px;
}
.faqWrite_table td{
    border: 1px solid #000;
}
.faqWrite_table td input{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    padding: 0px 20px;
    box-sizing: border-box;
}
.faqWrite_table td textarea{
    width: 100%;
    height: 200px;
    border: none;
    outline: none;
    padding: 20px;
    box-sizing: border-box;
}
/* templates/ticket/ticketBuy */
.ticket_board{
    width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    margin-bottom: 160px;
}
.ticket_board tr th{
    height: 50px;
    border: 1px solid #aaa;
    border-top: 2px solid #ff416b;
    border-bottom: 1px solid #ff416b;
    letter-spacing: 5px;
    box-sizing: border-box;
}
.ticket_board tr td{
    padding: 15px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #aaa;
    box-sizing: border-box;
}
.ticket_board .left_td{
    border-left: none;
}
.ticket_board .right_td{
    border-right: none;
}
.ticketboxblock{
    width: 580px;
    height: 71px;
    padding: 5px 10px;
    border: 2px solid #aaa;
    box-sizing: border-box;
}
.ticketboxblock h3{
    font-size: 22px;
    margin-bottom: 5px;
    color: #222;
}
.ticketboxblock p{
    font-size: 15px;
}
.ticketContainer{
    width: 580px;
    height: 300px;
    padding: 20px 10px 0px 10px;
    border: 2px solid #aaa;
    box-sizing: border-box;
    overflow: scroll;
    background-color: #f5f5f5;
}
.ticketbox{
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}
.ticketbox select{
    width: 200px;
    height: 35px;
    border: 1px solid #000;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    margin-left: -1px;
    box-sizing: border-box;
    background-color: #f7f7f7;
    cursor: pointer;
}
.ticketbox .ticketCount{
    width: 95px;
    height: 35px;
}
.ticketbox button{
    position: absolute;
    width: 15px;
    height: 15px;
    right: 10px;
    top: 50%;
    transform: translate(0, -50%);
    border: 1px solid #000;
    cursor: pointer;
}
.ticketbox button::after{
    content: 'X';
    font-size: 11px;
}
.ticketBottomBox{
    height: 42px;
    line-height: 37px;
    position: relative;
    display: flex;
    justify-content: center;
    border: 2px solid #aaa;
    box-sizing: border-box;
    margin-bottom: 15px;
}
#ticketbtnPlus{
    text-align: center;
}
#ticketbtnPlus input{
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    background-color: royalblue;
    box-sizing: border-box;
    cursor: pointer;
    color: #eee;
    transition: 0.3s;
}
#ticketbtnPlus input:hover{
    background-color: rgb(101, 132, 225);
}
#ticketTotal{
    display: flex;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    color: #222;
    margin-bottom: 100px;
}
#ticketTotal input{
    width: 120px;
    text-align: center;
    border: none;
    border-bottom: 2px solid #aaa;
    background-color: #fff;
}
#ticketTotal i{
    font-size: 17px;
}
#ticketbtnBuy{
    text-align: center;
    margin-bottom: 150px;
}
#ticketbtnBuy input{
    font-size: 18px;
    font-weight: bold;
    padding: 17px 60px;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #f4435d;
    cursor: pointer;
    color: #fff;
    transition: 0.3s;
}
#ticketbtnBuy input:hover{
    background-color: #FF4C2A;
}
.ticketbuy_wrap{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
/* templates/ticket/ticketDatepick */
#calendar {
    max-width: 600px;
}
#calendarHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
#calendarHeader button {
    padding: 5px 10px;
    border: 1px solid #000;
    border-radius: 50%;
    box-sizing: border-box;
    font-size: 20px;
    background: none;
    cursor: pointer;
    background-color: #fff;
    transition: 0.3s;
}
#calendarHeader button:hover {
    color: #fff;
    background-color: royalblue;
}
#calendarHeader h2 {
    padding: 5px 40px;
    border: 1px solid #000;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 0 50px;
    letter-spacing: 2px;
}
#calendarBody {
    width: 600px;
    border-collapse: collapse;
    border: 1px solid #aaa;
}
#calendarBody th {
    height: 30px;
    background-color: #f9f9f9;
    padding: 5px;
    text-align: center;
    border-top: 2px solid #f4435d;
    border-bottom: 1px solid #aaa;
}
#calendarBody .holiday{
    color: #f4435d;
}
#calendarBody td {
    height: 60px;
    color: #222;
    font-size: 18px;
    padding: 5px 10px 30px 10px;
    box-sizing: border-box;
    cursor: pointer;
    border: 1px solid #aaa;
    transition: 0.3s;
}
#calendarBody td:hover{
    background-color: #f7f7f7;
}
#calendarBody td.selected {
    color: #fff;
    font-weight: bold;
    background-color: #FC4F55;
    border: 1px solid #555;
    box-sizing: border-box;
}
#calendarBody td.disabled {
    color: #bbb;
    cursor: not-allowed;
}
/* templates/ticket/ticketHistory */
.myticket_board{
    width: 1200px;
    text-align: center;
    margin-bottom: 50px;
}
.myticket_board th{
    font-size: 17px;
    padding: 15px 5px;
    letter-spacing: 2px;
    background-color: #F8E8EE;
    border-top: 2px solid #f4435d;
    box-sizing: border-box;
}
.myticket_board td{
    height: 50px;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    box-sizing: border-box;
}
.myticket_board tr:hover{
    background-color: #f8f8f8;
}
.myticket_board td input{
    width: 70px;
    height: 30px;
    font-size: 13px;
    cursor: pointer;
}
.myticket_board .left_td{
    border-left: none;
}
.myticket_board .right_td{
    border-right: none;
}
/* templates/fragment/adminNav */
.admin_nav{
    position: relative;
}
.admin_nav article div{
    width: 259px;
    height: 60px;
    border-bottom: 1px solid #aaa;
    box-sizing: border-box;
}
.admin_nav article div a{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 60px;
    font-size: 17px;
    letter-spacing: 0px;
    background-color: #f5f5f5;
    transition: 0.3s;
}
.admin_nav article div a:hover{
    background-color: #ddd;
    font-weight: bold;
    color: #000;
}
/* templates/admin/admin */
.admin_wrap{
    display: flex;
    margin-top: -90px;
}
.admin_content{
    border-left: 1px solid #aaa;
    width: calc(100% - 259px);
    padding: 40px 60px 150px 60px;
}
.admin_content article{
    text-align: center;
}
.admin_info_table{
    border-top: 2px solid #5C469C;
    border-bottom: 2px solid #5C469C;
    margin: 0 auto;
}
.admin_info_table th{
    width: 120px;
    height: 40px;
    font-size: 16px;
    letter-spacing: 4px;
    border: 1px solid #aaa;
    border-left: none;
    border-right: 3px double #000;
    background-color: #f5f5f5;
}
.admin_info_table td{
    width: 300px;
    letter-spacing: 0px;
    border: 1px solid #aaa;
    border-right: none;
}
/* templates/admin/adminUser */
.admin_searchWrap{
    position: relative;
    width: 100%;
    height: 220px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.admin_searchBox h3{
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #d4d4d4;
    color: #000;
    letter-spacing: 5px;
    border-bottom: 3px double #000;
}
.admin_searchBox>div{
    display: flex;
    justify-content: space-around;
}
.admin_searchBox>div:last-child{
    border-bottom: none;
}
.admin_searchBox>div>div{
    display: flex;
    padding-top: 10px;
}
.admin_searchBox h4{
    width: 75px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    margin-right: 10px;
}
.admin_searchBox h4>i{
    font-size: 13px;
}
.admin_searchBox input{
    width: 300px;
    height: 35px;
    padding: 0px 10px;
    box-sizing: border-box;
}
.admin_searchBox input::placeholder{
    font-size: 14px;
    letter-spacing: 0px;
    color: #aaa;
}
.admin_searchBox input[type='date']{
    color: #555;
    font-size: 15px;
    letter-spacing: 0px;
}
.admin_searchBox select{
    width: 300px;
    height: 35px;
    box-sizing: border-box;
    text-align: center;
}
.admin_searchBtn{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 35px;
    background-color: #e5e5e5;
}
.admin_searchBtn button{
    width: 130px;
    height: 30px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}
.admin_searchBtn button:first-child{
    background-color: royalblue;
    color: #fff;
}
.admin_searchBtn button:first-child:hover{
    background-color: #64a5ff;
}
.admin_searchBtn button:last-child{
    background-color: #fff;
    color: #000;
    border: 2px solid #aaa;
}
.admin_searchBtn button:last-child:hover{
    background-color: #d5d5d5;
}
.tablewrap{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    box-sizing: border-box;
}
.tablebox{
    position: relative;
    width: 502px;
    height: 420px;
    border: 1px solid #222;
    box-sizing: border-box;
}
.tablebox table{
    width: 500px;
}
.tablebox table th, .tablebox table td{
    border: 1px solid #000;
    box-sizing: border-box;
}
.lefttable tr{
    cursor: pointer;
}
.lefttable tr:hover{
    background-color: #f5f5f5;
}
.lefttable tr th{
    height: 35px;
    border-top: none;
    background-color: #A6D0E4;
    color: #444;
    cursor: default;
}
.lefttable tr th:nth-child(1){
    border-left: none;
    width: 6%;
}
.lefttable tr th:nth-child(2){
    width: 13%;
}
.lefttable tr th:nth-child(4){
    width: 15%;
}
.lefttable tr th:nth-child(5){
    border-right: none;
    width: 30%;
}
.lefttable tr td{
    height: 35px;
    text-align: center;
}
.lefttable tr td:first-child{
    border-left: none;
}
.lefttable tr td:nth-child(5){
    border-right: none;
}
.lefttable tr .hide_td{
    display: none;
}
.righttable{
    height: 420px;
}
.righttable th{
    background-color: #cae6f2;
    color: #444;
    width: 100px;
    box-sizing: border-box;
}
.righttable tr:first-child th{
    width: 500px;
    border-bottom: 2px dashed #000;
    box-sizing: border-box;
    background-color: #A6D0E4;
}
.righttable tr:last-child th{
    border-bottom: 2px solid #000;
}
.righttable td{
    padding: 0px 10px;
    box-sizing: border-box;
}
.righttable .btn_td{
    height: 41.7px;
    text-align: center;
}
.righttable input{
    width: 100px;
    height: 30px;
    border: 1px solid #000;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 13px;
    color: #fff;
    background-color: #f4435d;
    cursor: pointer;
    transition: 0.2s;
}
.righttable input:hover{
    background-color: royalblue;
}
.righttable .righttable_td{
    width: 147px;
}
.pagination_wrap{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 35px;
    border-top: 1px solid #222;
    box-sizing: border-box;
    background-color: #A6D0E4;
}
.paginationBox_admin{
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}
.pagination_admin{
    display: flex;
    justify-content: center;
}
.pagination_admin li{
    display: block;
    width: 22px;
    height: 22px;
    line-height: 22px;
    font-size: 13px;
    box-sizing: border-box;
    margin-right: -1px;
    color: royalblue;
    font-weight: bold;
    background-color: #fff;
    border: 1px solid #222;
    z-index: 999;
}
.pagination_admin li.active{
    width: 22px;
    height: 22px;
    color: royalblue;
    background-color: #ddd;
}
.pagination_admin li a{
    display: block;
    width: 100%;
    height: 100%;
    transition: 0.2s;
}
.pagination_admin li a:hover{
    background-color: #777;
    color: #eee;
}
/* templates/admin/adminTicket */
.admin_searchWrap_ticket{
    height: 265px;
}
.adminTicket_table{
    width: 100%;
    margin-top: 15px;
    box-sizing: border-box;
    margin-bottom: 30px;
}
.adminTicket_table tr{
    cursor: pointer;
    transition: 0.2s;
}
.adminTicket_table tr:hover{
    background-color: #e5e5e5;
}
.adminTicket_table th{
    height: 40px;
    font-size: 16px;
    border-top: 2px solid #000;
    border-bottom: 3px double #000;
    background-color: #777;
    color: #eee;
}
.adminTicket_table td{
    height: 35px;
    font-size: 14px;
    text-align: center;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
.adminTicket_table td input{
    cursor: pointer;
    transition: 0.2s;
    font-size: 12px;
    color: #fff;
    padding: 4px 8px;
    border: none;
    border-radius: 3px;
}
.adminTicket_table td .redBtn{
    background-color: #ff416b;
}
.adminTicket_table td .redBtn:hover{
    background-color: royalblue;
}
.adminTicket_table td .blueBtn{
    background-color: #64a5ff;
}
.adminTicket_table td .blueBtn:hover{
    background-color: tomato;
}
.admin_paginationBox{
    margin-bottom: 0px;
}
/* templates/admin/adminTicketInfo */
.ticketInfoWrap{
    width: 100%;
    /* margin-bottom: 40px; */
}
.ticketInfoWrap table{
    width: 100%;
    border-bottom: 2px solid #aaa;
    margin-bottom: 40px;
}
.ticketInfoWrap table th{
    border-top: 2px solid #aaa;
    border-bottom: 3px double #aaa;
    padding: 0px 10px;
    height: 40px;
    background-color: #FCE9F1;
}
.ticketInfoWrap table tr{
    transition: 0.3s;
    z-index: 1;
}
.ticketInfoWrap table tr:hover{
    background-color: #e5e5e5;
}
.ticketInfoWrap table td{
    height: 35px;
    text-align: center;
    border-top: 1px solid #000;
}
.ticketInfoWrap table td input{
    width: 100%;
    height: 100%;
    text-align: center;
    border: none;
    outline: none;
    background-color: transparent;
}
.ticketInfoWrap table td .redBtn{
    z-index: 2;
    width: 60px;
    height: 25px;
    border-radius: 5px;
    color: #fff;
    font-size: 13px;
    background-color: tomato;
    cursor: pointer;
    transition: 0.2s;
}
.ticketInfoWrap table td .redBtn:hover{
    background-color: #f4435d;
}
.ticketInfoWrap table td .blueBtn{
    z-index: 2;
    width: 60px;
    height: 25px;
    border-radius: 5px;
    color: #fff;
    font-size: 13px;
    background-color: #64a5ff;
    cursor: pointer;
    transition: 0.2s;
}
.ticketInfoWrap table td .blueBtn:hover{
    background-color: royalblue;
}
.ticketInfoBtn{
    text-align: center;
}
.ticketInfoBtn input{
    width: 200px;
    height: 40px;
    background-color: #f4435d;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
.ticketInfoBtn input:hover{
    background-color: royalblue;
}
/* templates/admin/adminTicketInfoCreate */
.newTicketBox{
    text-align: center;
    padding: 15px 0px;
    border-top: 2px solid crimson;
    border-bottom: 2px solid crimson;
    background-color: #f7f7f7;
    margin-bottom: 60px;
}
.newTicketBox i{
    margin-right: 5px;
}
.newTicketBox span{
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
}
.newTicketBox input{
    width: 250px;
    height: 35px;
    padding: 0px 15px;
    margin-right: 100px;
    box-sizing: border-box;
    font-size: 14px;
}
.newTicketBox input:last-child{
    width: 150px;
    margin-right: 0px;
}
.newTicketBtn{
    display: flex;
    justify-content: space-evenly;
}
.newTicketBtn input{
    width: 130px;
    height: 35px;
    border: none;
    border-radius: 10px;
    background-color: #f4435d;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
.newTicketBtn input:hover{
    background-color: royalblue;
}
/* templates/admin/adminCalculate */
.adminContentWrap{
    display: flex;
    border: 1px solid #555;
    box-sizing: border-box;
}
.adminTop{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 600px;
}
.adminTop article:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    border: 1px solid #555;
    box-sizing: border-box;
}
.dateSearchBox{
    position: relative;
    width: 400px;
    height: 180px;
}
.dateSearchBox>div:nth-child(1){
    padding: 5px;
    font-size: 20px;
    color: #222;
    letter-spacing: 2px;
    background-color: #e7e7e7;
    border-top: 1px dotted #000;
    border-bottom: 1px dotted #000;
    margin-bottom: 10px;
}
.dateSearchBox>div:nth-child(2){
    margin-bottom: 15px;
}
.dateSearchBox>div:nth-child(2) button{
    width: 90px;
    height: 26px;
    margin-right: 10px;
    border: none;
    border-radius: 3px;
    background-color: #ff416b;
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
}
.dateSearchBox>div:nth-child(2) button:hover{
    background-color: tomato;
}
.dateSearchBox>div:nth-child(2) button:last-child{
    margin-right: 0px;
}
.dateSearchBox>div:nth-child(3) div:nth-child(1){
    display: flex;
    justify-content: center;
}
.dateSearchBox h4{
    width: 75px;
    height: 27px;
    line-height: 27px;
    box-sizing: border-box;
}
.dateSearchBox input{
    width: 200px;
    height: 27px;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 3px;
}
.dateSearchBox>div:nth-child(4) div:nth-child(1){
    display: flex;
    justify-content: center;
}
.dateSearchBox>div:nth-child(5) div:nth-child(1){
    display: flex;
    justify-content: center;
}
.dateSearchBox>div:nth-child(5) div:nth-child(2){
    display: flex;
    justify-content: center;
}
.dateSearchBox .submitBtnBox{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    display: flex;
    justify-content: space-evenly;
    background-color: #e7e7e7;
}
.dateSearchBox .submitBtnBox button{
    position: relative;
    top: 2px;
    width: 90px;
    height: 25px;
    border: none;
    border-radius: 5px;
    color: #222;
    background-color: #64a5ff;
    cursor: pointer;
    transition: 0.2s;
}
.dateSearchBox .submitBtnBox button p{
    font-size: 12px;
}
.dateSearchBox .submitBtnBox button:hover{
    color: #fff;
    background-color: royalblue;
}
.dateSearchBox .submitBtnBox a{
    position: relative;
    top: 2px;
    font-size: 12px;
    color: #222;
    display: block;
    width: 90px;
    height: 25px;
    line-height: 25px;
    border: none;
    border-radius: 5px;
    background-color: #64a5ff;
    cursor: pointer;
    transition: 0.2s;
}
.dateSearchBox .submitBtnBox a:hover{
    color: #fff;
    background-color: royalblue;
}
.adminTop article:nth-child(2){
    width: 100%;
    height: 400px;
    overflow: scroll;
    padding: 30px 0px;
    box-sizing: border-box;
    border: 1px solid #555;
    box-sizing: border-box;
}
.adminBottom{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 600px;
}
.adminBottom article:nth-child(1){
    width: 100%;
    height: 600px;
    overflow: scroll;
    padding: 20px;
    border: 1px solid #555;
    box-sizing: border-box;
}
.searchResult{
    display: flex;
    justify-content: space-evenly;
}
.searchResult table{
    width: 220px;
    border: 1px solid #000;
    box-sizing: border-box;
}
.searchResult table thead th{
    font-size: 17px;
    padding: 5px;
    color: #222;
    background-color: #e7e7e7;
}
.searchResult table th{
    font-size: 15px;
    padding: 5px 10px;
    border: 1px solid #000;
    background-color: #f5f5f5;
}
.searchResult table td{
    font-size: 14px;
    padding: 4px 6px;
    border: 1px solid #000;
}
.searchResult table:nth-child(1){
    margin-bottom: 30px;
}
.dateDisplay table{
    width: 100%;
}
.dateDisplay table thead th{
    padding: 10px;
    font-size: 20px;
    color: #222;
    letter-spacing: 1px;
    background-color: #e7e7e7;
}
.dateDisplay table th{
    border: 1px solid #000;
    font-size: 16px;
    padding: 5px;
    background-color: #f5f5f5;
}
.dateDisplay table td{
    padding: 4px;
    font-size: 14px;
    border: 1px solid #000;
}




