<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
    <div th:include="/fragment/head"></div>
    <div th:include="/fragment/header"></div>
    <div th:include="/fragment/nav"></div>

    <div class="content">
        <div class="image_banner">
            <div class="image_banner_bg">
                <img th:src="@{/image/ticket_banner.png}" alt="">
                <h1>티 &nbsp; 켓 &nbsp; 예 &nbsp; 매</h1>
            </div>
            <div class="page_nav">
                <span><a th:href="@{/}"><i class="fa-solid fa-house"></i></a></span>
                <span><a th:href="@{/ticket/ticketBuy}">티켓예매 &nbsp; <i class="fa-solid fa-caret-down"></i></a></span>
            </div>
        </div>
        
        <div class="inner">
            <div class="pointBox">
                <div class="point_bigtext">티켓정보</div>
                <div class="point_smalltext">KidsPlace는 편리한 온라인 예약 시스템을 통해 예약 접수를 받고 있습니다.</div>
                <span class="point_hr"></span>
            </div>
            
            <table class="ticket_board">
                <tr>
                    <th class="left_td">구분</th>
                    <th>종류</th>
                    <th>대상내용</th>
                    <th>가격</th>
                    <th class="right_td">비고</th>
                </tr>
                <tr>
                    <td rowspan="2" class="left_td">종일권</td>
                    <td>유/초등학생권</td>
                    <td>유아/초등학생 대상</td>
                    <td>20,000원</td>
                    <td rowspan="2" class="right_td"></td>
                </tr>
                <tr>
                    <td>일반권</td>
                    <td>중학생 이상</td>
                    <td>18,000원</td>
                </tr>
                <tr>
                    <td rowspan="2" class="left_td">오후권</td>
                    <td>유/초등학생권</td>
                    <td>유아/초등학생 대상</td>
                    <td>15,000원</td>
                    <td rowspan="2" class="right_td"></td>
                </tr>
                <tr>
                    <td>일반권</td>
                    <td>중학생 이상</td>
                    <td>13,000원</td>
                </tr>
                <tr>
                    <td class="left_td">단체</td>
                    <td>단체할인권</td>
                    <td>20인 이상의 단체</td>
                    <td></td>
                    <td class="right_td">별도문의</td>
                </tr>
                <tr>
                    <td class="left_td">특별할인</td>
                    <td>공통</td>
                    <td>장애인 [복지카드 지참 시, 동반 1인까지]<br>
                        65세 이상 경로 우대[주민등록증], 국가유공자[복지카드] 및<br>
                        교원증 소지한 교사(본인에 한함)</td>
                    <td>9,000원</td>
                    <td class="right_td">신분증 및<br>
                                        증빙 서류<br>
                                        필히 지참</td>
                </tr>
                <tr>
                    <td colspan="2" rowspan="2" class="left_td">기타</td>
                    <td>24개월 미만 유아[부모 동반 시]</td>
                    <td>무료</td>
                    <td rowspan="2" class="right_td"></td>
                </tr>
                <tr>
                    <td>기타 이벤트 할인권</td>
                    <td>행사 할인율 적용</td>
                </tr>
            </table>

            <div class="pointBox">
                <div class="point_bigtext">예약일 & 티켓 선택</div>
                <div class="point_smalltext">365일 연중무휴! 원하시는 일정을 골라주세요.</div>
                <span class="point_hr"></span>
            </div>

            <div class="ticketbuy_wrap">
                <div>
                    <div id="calendar">
                        <div id="calendarHeader">
                            <button id="prevMonthBtn">&lt;</button>
                            <h2 id="currentMonthYear"></h2>
                            <button id="nextMonthBtn">&gt;</button>
                        </div>
                        <table id="calendarBody">
                            <thead>
                                <tr>
                                <th class="holiday">일</th>
                                <th>월</th>
                                <th>화</th>
                                <th>수</th>
                                <th>목</th>
                                <th>금</th>
                                <th class="holiday">토</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <input type="hidden" id="selectedDate" placeholder="선택일자">
                </div>
                
                <div>
                    <div class="ticketboxblock">
                        <h3>티켓 종류를 선택하세요</h3>
                        <p>(추가 +) 버튼을 통해 추가구매 할 수 있습니다.</p>
                    </div>
                    <div class="ticketContainer">
                        <div>
                            <div class="ticketbox">
                                <div><input type="hidden" th:value="${#authentication.principal.member.uNum}" class="inputuNum" name="uNum" readonly></div>
                                <div>
                                    <select name="tType" class="inputtType" onchange="calculateTotal()">
                                        <option value="none1">( 티켓종류를 선택하세요 )</option>
                                        <option th:each="ticketDetail : ${ticketDetail}" th:value="${ticketDetail.tType}" th:text="${ticketDetail.tName}" th:data-price="${ticketDetail.tPrice}"></option>
                                    </select>
                                </div>
                                <div><input type="hidden" th:value="${#authentication.principal.member.uName}" class="inputuName" name="uName" readonly></div>
                                <div><input type="hidden" class="inputmarket" name="market" value="KIDSPLACE" readonly></div>
                                <div>
                                    <select name="tArea" class="inputtArea">
                                        <option value="none2">( 사용지역을 선택하세요 )</option>
                                        <option value="경기 킨텍스">경기 킨텍스</option>
                                        <option value="부산 벡스코">부산 벡스코</option>
                                        <option value="대구 엑스코">대구 엑스코</option>
                                        <option value="광주 김대중컨벤션">광주 김대중컨벤션</option>
                                    </select>
                                </div>
                                <div>
                                    <select class="ticketCount" onchange="calculateTotal()">
                                        <option value="none3">( 티켓수량 )</option>
                                        <option th:each="num : ${#numbers.sequence(1,30)}" th:value="${num}" th:text="${num}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ticketBottomBox">
                        <div id="ticketbtnPlus">
                            <input type="button" value="추가 +" onclick="plusTicket()">
                        </div>
                    </div>
                </div>
            </div>
            
            <div id="ticketTotal">
                <span>총 합계 : </span>
                <input type="text" id="tAmount" disabled>
                <i class="fa-solid fa-won-sign"></i>
            </div>
            <div id="ticketbtnBuy">
                <input type="button" value="티켓구매" onclick="insertTicket()">
            </div>
        </div>
    </div>
    
    <div th:include="/fragment/footer"></div>


    <!-- script -->
    <!-- ticketDatepick 일자 선택 -->
    <script>
        const selectedDateInput = document.getElementById('selectedDate');
        let selectedDate = null;

        const today = new Date();
        let currentYear = today.getFullYear();
        let currentMonth = today.getMonth();

        const prevMonthBtn = document.getElementById('prevMonthBtn');
        const nextMonthBtn = document.getElementById('nextMonthBtn');
        const currentMonthYear = document.getElementById('currentMonthYear');
        const calendarBody = document.querySelector('#calendarBody tbody');

        function initializeCalendar() {
            updateCalendar();
            prevMonthBtn.addEventListener('click', showPrevMonth);
            nextMonthBtn.addEventListener('click', showNextMonth);
        }

        function updateCalendar() {
            currentMonthYear.textContent = `${currentYear}년 ${currentMonth + 1}월`;
            createCalendar();
        }

        function showPrevMonth() {
            if (currentMonth === 0) {
                currentYear--;
                currentMonth = 11;
            } else {
                currentMonth--;
            }
            updateCalendar();
        }

        function showNextMonth() {
            if (currentMonth === 11) {
                currentYear++;
                currentMonth = 0;
            } else {
                currentMonth++;
            }
            updateCalendar();
        }

        function createCalendar() {
            while (calendarBody.firstChild) {
                calendarBody.removeChild(calendarBody.firstChild);
            }

            const firstDayOfMonth = new Date(currentYear, currentMonth, 1).getDay();
            const lastDayOfMonth = new Date(currentYear, currentMonth + 1, 0).getDate();

            let dates = [];
            for (let i = 1; i <= lastDayOfMonth; i++) {
                dates.push(i);
            }

            let row = document.createElement('tr');
            let dayCounter = 0;
            for (let i = 0; i < dates.length + firstDayOfMonth; i++) {
                if (i >= firstDayOfMonth) {
                    dayCounter++;
                    const date = dates[dayCounter - 1];
                    const cell = document.createElement('td');
                    cell.textContent = date;

                    if (currentYear === today.getFullYear() && currentMonth === today.getMonth()) {
                        if (date < today.getDate()) {
                            cell.classList.add('disabled');
                        } else {
                            cell.addEventListener('click', selectDate);
                        }
                    } else if (currentYear < today.getFullYear() || (currentYear === today.getFullYear() && currentMonth < today.getMonth())) {
                        cell.classList.add('disabled');
                    } else {
                        cell.addEventListener('click', selectDate);
                    }

                    row.appendChild(cell);
                } else {
                    row.appendChild(document.createElement('td'));
                }

                if (i % 7 === 6) {
                    calendarBody.appendChild(row);
                    row = document.createElement('tr');
                }
            }
            calendarBody.appendChild(row);
        }

        function selectDate(event) {
            const clickedDate = event.target.textContent;
            selectedDate = new Date(currentYear, currentMonth, clickedDate);
            selectedDateInput.value = formatDate(selectedDate);

            const selectedCell = calendarBody.querySelector('.selected');
            if (selectedCell) {
                selectedCell.classList.remove('selected');
            }

            event.target.classList.add('selected');
        }

        function formatDate(date) {
            const year = date.getFullYear();
            const month = String(date.getMonth() + 1).padStart(2, '0');
            const day = String(date.getDate()).padStart(2, '0');
            return `${year}-${month}-${day}`;
        }

        initializeCalendar();
    </script>

    <!-- cloneNode() 함수를 통해 div 내부요소까지 복제 & 실시간 티켓 총합계 계산-->
    <script>
        let ticketCount = 1;

        function plusTicket() {

        const ticketcontainer = document.querySelector('.ticketContainer');
        const ticketbox1 = document.querySelector('.ticketbox');
        const ticketbox2 = ticketbox1.cloneNode(true);

        const newTicketboxClass = 'ticketbox' + (++ticketCount);
        ticketbox2.classList.add(newTicketboxClass);

        const tTypeSelect = ticketbox2.querySelector('.inputtType');
        const tAreaSelect = ticketbox2.querySelector('.inputtArea');
        const ticketCountSelect = ticketbox2.querySelector('.ticketCount');

        tTypeSelect.selectedIndex = 0;
        tAreaSelect.selectedIndex = 0;
        ticketCountSelect.selectedIndex = 0;

        const cancelBtn = document.createElement('button');
        cancelBtn.addEventListener('click', function() {
            cancelTicket(this);
            calculateTotal();
        });
        ticketbox2.appendChild(cancelBtn);

        const ticketContainer = document.querySelector('.ticketContainer');
        ticketContainer.appendChild(ticketbox2);
        }

        function cancelTicket(btn) {
        const ticketbox = btn.parentNode;
        ticketbox.parentNode.removeChild(ticketbox);
        }

        function calculateTotal() {
        const ticketboxes = document.querySelectorAll('.ticketbox');
        let total = 0;
        Array.from(ticketboxes).forEach(function(ticketbox) {
            const tTypeSelect = ticketbox.querySelector('.inputtType');
            const selectedOption = tTypeSelect.options[tTypeSelect.selectedIndex];
            const tPrice = parseFloat(selectedOption.getAttribute('data-price')); // parseFloat()로 숫자로 변환
            const tCount = parseInt(ticketbox.querySelector('.ticketCount').value); // parseInt()로 숫자로 변환

            if (!isNaN(tPrice) && !isNaN(tCount)) { // NaN이 아닌지 확인
            total += tPrice * tCount;
            }
        });

        const amountInput = document.getElementById('tAmount');
        amountInput.value = isNaN(total) ? '' : total; // NaN인 경우 빈 문자열로 처리

        // 디버깅을 위해 총합계를 출력
        console.log('Total:', total);
        }
    </script>

    <!--  티켓구매 정보 제출(fetch로 기능)  -->
    <script>
        function insertTicket() {
        // 유효성 검사
        const ticketTypeInputs = document.getElementsByClassName("inputtType");
        const ticketAreaInputs = document.getElementsByClassName("inputtArea");
        const ticketAmountInputs = document.getElementsByClassName("ticketCount");
        const selectedDate = document.getElementById("selectedDate").value;

        if (selectedDate === "") {
            alert("예약날짜를 선택해주세요.");
            return false;
        }

        for (let i = 0; i < ticketTypeInputs.length; i++) {
            if (ticketTypeInputs[i].value === 'none1') {
            alert("티켓종류를 선택해주세요.");
            return false;
            } else if (ticketAreaInputs[i].value === 'none2') {
            alert("사용지역을 선택해주세요.");
            return false;
            } else if (ticketAmountInputs[i].value === 'none3') {
            alert("티켓수량을 선택해주세요.");
            return false;
            }
        }

        // 티켓 정보 배열 생성
        const ticketData = [];
        const ticketCountInputs = document.getElementsByClassName("ticketCount");

        for (let i = 0; i < ticketTypeInputs.length; i++) {
            const ticketInfo = {
            uNum: document.getElementsByClassName("inputuNum")[i].value,
            tType: ticketTypeInputs[i].value,
            uName: document.getElementsByClassName("inputuName")[i].value,
            market: document.getElementsByClassName("inputmarket")[i].value,
            tArea: ticketAreaInputs[i].value,
            pickDate: document.getElementById("selectedDate").value,
            tCount: ticketCountInputs[i].value
            };

            ticketData.push(ticketInfo);
        }

        // fetch로 티켓 구매 정보 전송
        fetch(urlparam + '/ticket/ticketBuy', {
            method: 'post',
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify(ticketData)
        })
            .then(response => response.json())
            .then(data => {
            if (data) {
                console.log(data);
                alert("티켓예매가 완료되었습니다.");
                location.href = urlparam + "/ticket/ticketHistory";
            } else {
                alert("티켓예매가 실패하였습니다. 다시 시도해주세요.");
            }
            })
            .catch((error) => console.log(error));
        }
    </script>
</body>
</html>