<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
    <div th:include="/fragment/head"></div>
    <div th:include="/fragment/header"></div>
    <div th:include="/fragment/nav"></div>

    <div class="content">
        <div class="image_banner">
            <div class="image_banner_bg">
                <img th:src="@{/image/ticket_banner.png}" alt="">
                <h1>티 &nbsp; 켓 &nbsp; 예 &nbsp; 매</h1>
            </div>
            <div class="page_nav">
                <span><a th:href="@{/}"><i class="fa-solid fa-house"></i></a></span>
                <span><a th:href="@{/ticket/ticketBuy}">티켓예매 &nbsp; <i class="fa-solid fa-caret-down"></i></a></span>
            </div>
        </div>
        
        <div class="inner">
            <h2>티켓예매</h2>
            <hr>
            <table class="ticket_board">
                <tr>
                    <th>구분</th>
                    <th>종류</th>
                    <th>대상내용</th>
                    <th>가격</th>
                    <th>비고</th>
                </tr>
                <tr>
                    <td rowspan="2">종일권</td>
                    <td>유/초등학생권</td>
                    <td>유아/초등학생 대상</td>
                    <td>20,000원</td>
                    <td rowspan="2"></td>
                </tr>
                <tr>
                    <td>일반권</td>
                    <td>중학생 이상</td>
                    <td>18,000원</td>
                </tr>
                <tr>
                    <td rowspan="2">오후권</td>
                    <td>유/초등학생권</td>
                    <td>유아/초등학생 대상</td>
                    <td>15,000원</td>
                    <td rowspan="2"></td>
                </tr>
                <tr>
                    <td>일반권</td>
                    <td>중학생 이상</td>
                    <td>13,000원</td>
                </tr>
                <tr>
                    <td>단체</td>
                    <td>단체할인권</td>
                    <td>20인 이상의 단체</td>
                    <td></td>
                    <td>별도문의</td>
                </tr>
                <tr>
                    <td>특별할인</td>
                    <td>공통</td>
                    <td>장애인 [복지카드 지참 시, 동반 1인까지]<br>
                        65세 이상 경로 우대[주민등록증], 국가유공자[복지카드] 및<br>
                        교원증 소지한 교사(본인에 한함)</td>
                    <td>9,000원</td>
                    <td>신분증 및<br>
                        증빙 서류<br>
                        필히 지참</td>
                </tr>
                <tr>
                    <td colspan="2" rowspan="2">기타</td>
                    <td>24개월 미만 유아[부모 동반 시]</td>
                    <td>무료</td>
                    <td rowspan="2"></td>
                </tr>
                <tr>
                    <td>기타 이벤트 할인권</td>
                    <td>행사 할인율 적용</td>
                </tr>
            </table>
            
            <div class="ticketContainer">
                <div class="ticketbox">
                    <div><input type="hidden" th:value="${#authentication.principal.member.uNum}" class="inputuNum" name="uNum" readonly></div>
                    <div>
                        <select name="tType" class="inputtType">
                            <option value="none1">( 티켓종류를 선택하세요 )</option>
                            <option th:each="ticketDetail : ${ticketDetail}" th:value="${ticketDetail.tType}"><div th:text="${ticketDetail.tName}"></div></option>
                        </select>
                    </div>
                    <div><input type="hidden" th:value="${#authentication.principal.member.uName}" class="inputuName" name="uName" readonly></div>
                    <div><input type="hidden" class="inputmarket" name="market" value="KIDSPLACE" readonly></div>
                    <div>
                        <select name="tArea" class="inputtArea">
                            <option value="none2">( 사용지역을 선택하세요 )</option>
                            <option value="경기 킨텍스">경기 킨텍스</option>
                            <option value="부산 벡스코">부산 벡스코</option>
                            <option value="대구 엑스코">대구 엑스코</option>
                            <option value="광주 김대중컨벤션">광주 김대중컨벤션</option>
                        </select>
                    </div>
                    <div>
                        <select class="ticketCount">
                            <option value="none3">( 티켓수량 )</option>
                            <option th:each="num : ${#numbers.sequence(1,30)}" th:value="${num}" th:text="${num}"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div id="ticketbtnbox">
                <div><input type="button" value="추가" onclick="plusTicket()"></div>
                <div><input type="button" value="티켓구매" onclick="insertTicket()"></div>
            </div>
        </div>
    </div>
    
    <div th:include="/fragment/footer"></div>



    <!-- cloneNode() 함수를 통해 div 내부요소까지 복제-->
    <script>
        let ticketCount = 1; // 초기 티켓 개수

        function plusTicket() {
        // 'ticketbox' 복사하기
        const ticketbox1 = document.querySelector('.ticketbox');
        const ticketbox2 = ticketbox1.cloneNode(true);
        
        // 새로운 'ticketbox'에 순차적인 클래스 설정
        const newTicketboxClass = 'ticketbox' + (++ticketCount);
        ticketbox2.classList.add(newTicketboxClass);

        // 복사된 'ticketbox' 내부 요소들 초기화하기
        const tTypeSelect = ticketbox2.querySelector('.inputtType');
        const tAreaSelect = ticketbox2.querySelector('.inputtArea');
        const ticketCountSelect = ticketbox2.querySelector('.ticketCount');
        
        tTypeSelect.selectedIndex = 0;
        tAreaSelect.selectedIndex = 0;
        ticketCountSelect.selectedIndex = 0;

        // 새로운 'ticketbox'를 마지막에 추가
        const ticketContainer = document.querySelector('.ticketContainer');
        ticketContainer.appendChild(ticketbox2);
        }
    </script>

    <!--  티켓구매 정보 제출(fetch로 기능)  -->
    <script>
        function insertTicket() {
        // 유효성 검사
        const ticketTypeInputs = document.getElementsByClassName("inputtType");
        const ticketAreaInputs = document.getElementsByClassName("inputtArea");
        const ticketAmountInputs = document.getElementsByClassName("ticketCount")

        for (let i = 0; i < ticketTypeInputs.length; i++) {
            if (ticketTypeInputs[i].value === 'none1') {
            alert("티켓종류를 선택해주세요.");
            return false;
            } else if (ticketAreaInputs[i].value === 'none2') {
            alert("사용지역을 선택해주세요.");
            return false;
            } else if (ticketAmountInputs[i].value === 'none3') {
            alert("티켓수량을 선택해주세요.");
            return false;
            }
        }

        // 티켓 정보 배열 생성
        const ticketData = [];
        const ticketCountInputs = document.getElementsByClassName("ticketCount");

        for (let i = 0; i < ticketTypeInputs.length; i++) {
            const ticketInfo = {
            uNum: document.getElementsByClassName("inputuNum")[i].value,
            tType: ticketTypeInputs[i].value,
            uName: document.getElementsByClassName("inputuName")[i].value,
            market: document.getElementsByClassName("inputmarket")[i].value,
            tArea: ticketAreaInputs[i].value,
            tCount: ticketCountInputs[i].value
            };

            ticketData.push(ticketInfo);
        }

        // fetch로 티켓 구매 정보 전송
        fetch(urlparam + '/ticket/ticketBuy', {
            method: 'post',
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify(ticketData)
        })
            .then(response => response.json())
            .then(data => {
            if (data) {
                console.log(data);
                alert("티켓예매가 완료되었습니다.");
                location.href = urlparam + "/ticket/ticketHistory";
            } else {
                alert("티켓예매가 실패하였습니다. 다시 시도해주세요.");
            }
            })
            .catch((error) => console.log(error));
        }
    </script>
</body>
</html>