<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
    <div th:include="/fragment/head"></div>
    <div th:include="/fragment/header"></div>
    <div th:include="/fragment/nav"></div>

    <div class="content">
        <div class="image_banner">
            <div class="ticket_banner">
                <h1>티 &nbsp; 켓 &nbsp; 예 &nbsp; 매</h1>
            </div>
        </div>
        <div class="inner">
            <h2>티켓예매</h2>
            <hr>
            <table class="ticket_board">
                <tr>
                    <th>구분</th>
                    <th>종류</th>
                    <th>대상내용</th>
                    <th>가격</th>
                    <th>비고</th>
                </tr>
                <tr>
                    <td rowspan="2">종일권</td>
                    <td>유/초등학생권</td>
                    <td>유아/초등학생 대상</td>
                    <td>20,000원</td>
                    <td rowspan="2"></td>
                </tr>
                <tr>
                    <td>일반권</td>
                    <td>중학생 이상</td>
                    <td>18,000원</td>
                </tr>
                <tr>
                    <td rowspan="2">오후권</td>
                    <td>유/초등학생권</td>
                    <td>유아/초등학생 대상</td>
                    <td>15,000원</td>
                    <td rowspan="2"></td>
                </tr>
                <tr>
                    <td>일반권</td>
                    <td>중학생 이상</td>
                    <td>13,000원</td>
                </tr>
                <tr>
                    <td>단체</td>
                    <td>단체할인권</td>
                    <td>20인 이상의 단체</td>
                    <td></td>
                    <td>별도문의</td>
                </tr>
                <tr>
                    <td>특별할인</td>
                    <td>공통</td>
                    <td>장애인 [복지카드 지참 시, 동반 1인까지]<br>
                        65세 이상 경로 우대[주민등록증], 국가유공자[복지카드] 및<br>
                        교원증 소지한 교사(본인에 한함)</td>
                    <td>9,000원</td>
                    <td>신분증 및<br>
                        증빙 서류<br>
                        필히 지참</td>
                </tr>
                <tr>
                    <td colspan="2" rowspan="2">기타</td>
                    <td>24개월 미만 유아[부모 동반 시]</td>
                    <td>무료</td>
                    <td rowspan="2"></td>
                </tr>
                <tr>
                    <td>기타 이벤트 할인권</td>
                    <td>행사 할인율 적용</td>
                </tr>
            </table>
            
            <div id="ticketbox">
                <div><input type="hidden" th:value="${#authentication.principal.member.uNum}" id="inputuNum" name="uNum" readonly></div>
                <div>
                    <select name="tType" id="inputtType">
                        <option value="none1">( 티켓종류를 선택하세요 )</option>
                        <option th:each="ticketDetail : ${ticketDetail}" th:value="${ticketDetail.tType}"><div th:text="${ticketDetail.tName}"></div></option>
                    </select>
                </div>
                <div><input type="hidden" th:value="${#authentication.principal.member.uName}" id="inputuName" name="uName" readonly></div>
                <div><input type="hidden" id="inputmarket" name="market" value="KIDSPLACE" readonly></div>
                <div>
                    <select name="tArea" id="inputtArea">
                        <option value="none2">( 사용지역을 선택하세요 )</option>
                        <option value="경기 킨텍스">경기 킨텍스</option>
                        <option value="부산 벡스코">부산 벡스코</option>
                        <option value="대구 엑스코">대구 엑스코</option>
                        <option value="광주 김대중컨벤션">광주 김대중컨벤션</option>
                    </select>
                </div>
                <div>
                    <select id="ticketCount">
                        <option>( 티켓수량 )</option>
                        <option th:each="num : ${#numbers.sequence(1,30)}" th:value="${num}" th:text="${num}"></option>
                    </select>
                </div>
            </div>
            <div id="ticketbtnbox">
                <div><input type="button" value="추가" onclick="plusTicket()"></div>
                <div><input type="button" value="티켓구매" onclick="insertTicket()"></div>
            </div>
            <!-- 지금 요소를 추가해도 적용이 안됨 -->
            <!-- 지금 요소를 추가해도 적용이 안됨 -->
            <!-- 지금 요소를 추가해도 적용이 안됨 -->
        </div>
    </div>
    
    <div th:include="/fragment/footer"></div>



    <!-- script -->
    <!-- cloneNode() 함수를 통해 div 내부요소까지 복제-->
    <script>
        function plusTicket(){
        // 'test' node 선택
        const ticketbox1 = document.getElementById('ticketbox');
        // 노드 복사하기
        const ticketbox2 = ticketbox1.cloneNode(true);
        // 복사된 Node id 변경하기
        ticketbox2.id = 'ticketbox';
        // 복사한 노드 붙여넣기
        ticketbox1.after(ticketbox2);
        }
    </script>

    <!--  티켓구매 정보 제출(fetch로 기능)  -->
    <script>
        function insertTicket(){
            // 유효성 검사
            if(document.getElementById("inputtType").value == 'none1'){
                alert("티켓종류를 선택해주세요.");
                return false;
            }else if(document.getElementById("inputtArea").value == 'none2'){
                alert("사용지역을 선택해주세요.");
                return false;
            }

            // fetch
            fetch(urlparam + '/ticket/ticketBuy', {
                method: 'post',
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify([{
                    uNum: document.getElementById("inputuNum").value,
                    tType: document.getElementById("inputtType").value,
                    uName: document.getElementById("inputuName").value,
                    market: document.getElementById("inputmarket").value,
                    tArea: document.getElementById("inputtArea").value,
                    // test: document.getElementsByClassName("test")[0].value
                }, {

                }])
            })
                .then(response => response.json())
                .then(data => {
                    if (data) {
                        console.log(data);
                        alert("티켓예매가 완료되었습니다.");
                        location.href= urlparam + "/ticket/ticketHistory";
                    }else{
                        alert("티켓예매가 실패하였습니다. 다시 시도해주세요.");
                    }
                })
                .catch((error) => console.log(error));
        }
    </script>
</body>
</html>